<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="titulo-head">Carolina Doartero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/imagenes/logo-astrologia.png" />
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- FUENTE -->
    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWESOME -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../plantillas/main.css" />
    <link rel="stylesheet" href="main.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand me-5" href="#">Carolina Doartero</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-inicio" href="../inicio/index.html">inicio</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-formacion" href="../formacion/index.html""
                >formación</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-danza" href="../danza/index.html"">danza</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-poesia" href="../poesia/index.html"">poesía</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-docencia" href="../docencia/index.html""
                >docencia</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-taller" href="../el-taller/index.html""
                >el taller</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link active" id="nav-astrologia" href="#"
                >astrología y tarot</a
              >
            </li>
            <li class="nav-item ms-2">
              <a
                class="nav-link"
                id="nav-blog"
                href="https://carolinadoartero.herokuapp.com/blog"
                >blog</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAVBAR -->
    <main class="container contenedor-body" style="margin-top: 5%">
      <!-- BODY -->

      <h2 class="subtitulo-formacion mb-4 mt-4">astrología y tarot</h2>

      <div class="row">
        <div class="col-md-8">
          <div class="contenedor-cita text-center mt-3">
            <p class="cita">
              "Tú eres la brecha a través de la cual el Universo se explora a Sí
              mismo".
            </p>
            <p class=""><strong>Alan Watts</strong></p>
          </div>

          <!-- <div class="contenedor-botones text-center">
            <a class="botones me-5" href="#astrologia">Astrologia</a>
            <a class="botones" href="#tarot">Tarot</a>
        </div> -->

          <p class="me-5 mt-5 mb-5">
            De la mano de la práctica artística y de la inmersión en lo
            creativo, entré en un viaje de autodescubrimiento que me abrió a la
            multi dimensión de lo humano. <br />
            En este proceso de conocimiento y trabajo sobre mí, incursioné en
            disciplinas psicofísicas para la expansión de la conciencia, el
            estudio de lo arquetípico y la apertura espiritual.<br />
            Fue así que Inicié un camino con los lenguajes simbólicos:
            Astrología y Tarot.<br />
            En 1998 junto a la Lic. Marcela Rodas, integré un grupo de estudio y
            reflexión sobre lo femenino, observando en el nivel astrológico las
            correlaciones entre las fases de la luna y la naturaleza cíclica de
            la mujer.<br />
            En esa etapa trabajé sobre la Carta Natal como herramienta de
            autoconocimiento, incorporando cada año el análisis de la Revolución
            Solar y los tránsitos.<br />
            Inicié estudios formales con la astróloga humanista Carolina
            Martínez Johnson y continué en la Escuela Trenkehué dirigida por
            Jorge Bosia.<br />
            Estudié Tarot con Carmen Limousin. Continúo en formación permanente
            investigando diferentes mazos y sistemas.<br />
            Desde el año 2000 coordino Círculos de Mujeres en Luna Llena.<br />
            La experiencia en las consultas astrológicas y el acompañamiento de
            procesos en alumnos y consultantes me estimulan a investigar las
            resonancias y articulaciones entre el arte, los lenguajes sagrados,
            la psicología y la ciencia.<br />
            Cada encuentro, cada consulta es un espacio-tiempo en el que con
            humildad nos abrimos al misterio y propiciamos que se exprese la
            información que pide ser revelada.
          </p>

          <hr />

          <div class="mt-5 mb-5" id="astrologia">
            <h3 class="titulo-astrologia mb-4 mt-3">Astrología</h3>
            <p>
              La astrología es una ciencia antigua y un lenguaje sagrado que nos
              revela el orden cíclico y natural de la vida. <br />
              Se basa en la antigua premisa hermética “como es arriba es abajo,
              como es adentro es afuera” Si somos uno con el todo, al mirar el
              cielo podemos vernos a nosotros mismos como en un gran espejo,
              descubriendo nuevas perspectivas de nuestro ser.<br />
              Es una valiosa herramienta de autoconocimiento que nos permite
              acompañar conscientemente los procesos de nuestra vida.
            </p>

            <h5 class="subtitulo mb-4 mt-5"><b>Carta Natal</b></h5>
            <p>
              La Carta Natal es un diagrama de las posiciones de los planetas en
              una fecha, hora y lugar del nacimiento. <br />
              Constituye un verdadero mapa energético de la persona. <br />
              Nos permite conocer nuestras tendencias, talentos y dificultades.
              <br />
              Es una valiosa herramienta en el proceso de auto- conocimiento.
            </p>

            <h5 class="subtitulo mb-4 mt-5"><b>Revolución Solar</b></h5>
            <p>
              La Revolución Solar se da en el momento en el que sol vuelve al
              lugar del zodíaco en el que estaba cuando nacimos. Y da las nuevas
              posiciones de los planetas. <br />
              Se ven las zonas facilitadas, energías que se pueden utilizar en
              nuestro beneficio. También se ve la posibilidad de rever
              determinados temas, de incorporar una vibración. <br />
              Cada año es una oportunidad para evolucionar. De ver las
              dificultades como desafío evolutivo y no como obstáculo.
            </p>

            <h5 class="subtitulo mb-4 mt-5"><b>Tránsitos</b></h5>
            <p>
              El Tránsito es el movimiento de un planeta a través del zodiaco
              día a día, semana tras semana, año tras año. <br />
              Cada planeta, en su recorrido, va pasando por diferentes signos,
              formando aspectos con los planetas natales u otros puntos
              importantes de la Carta Natal, o simplemente transitando por una
              casa vacía. Cada uno va a su ritmo y tarda un determinado espacio
              de tiempo. <br />
              Los tránsitos planetarios definen nuestros ciclos naturales, nos
              permiten crecer, madurar, cambiar nuestros hábitos y como
              consecuencia cambiar nuestras circunstancias exteriores.
            </p>

            <h5 class="subtitulo mb-4 mt-5"><b>Sinastrías</b></h5>
            <p>
              La sinastría es un análisis de compatibilidad entre dos o más
              cartas natales. Permite dilucidar la dinámica de la relación entre
              las personas involucradas. <br />
              Se utiliza para parejas, socios, relaciones familiares o cualquier
              otro vínculo que sea de interés. La sinastría tiene las claves de
              las áreas que pueden estar poco aprovechadas en nuestra relación y
              de los temas que causan fricción e incomodidad.
            </p>
          </div>

          <hr />

          <div class="mt-5 mb-5" id="tarot">
            <h3 class="titulo-astrologia mb-4 mt-3">Tarot</h3>
            <p>
              El Tarot es un antiguo lenguaje simbólico que nos ayuda a
              comprender el espíritu humano y el viaje del alma. <br />
              El verdadero fin del Tarot es el autoconocimiento transformador.
              <br />
              Los arquetipos del Tarot son energías vivas. A través de sus
              cartas, se representan los 22 estados de conciencia del Ser
              (Arcanos Mayores) y sus manifestaciones en los cuatro planos
              (Arcanos Menores). <br />
              Según Jung, el símbolo no oculta, enseña. En este sentido, el
              Tarot es un arte sagrado que integra la Conciencia y el
              Inconsciente de quien consulta, en donde cada arcano refleja, tal
              como lo hace un espejo, lo que le está ocurriendo en el momento
              presente.
            </p>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <img
            src="../../imagenes/astrologia/5.jfif"
            class="img-fluid mt-4 img-redondeada"
            alt=""
          />
          <img
            src="../../imagenes/astrologia/3.jpg"
            class="img-fluid mt-4 img-redondeada"
            alt=""
          />

          <img
            src="../../imagenes/astrologia/4.jpg"
            class="img-fluid mt-4 img-redondeada"
            alt=""
          />
          <img
            src="../../imagenes/astrologia/2.jpg"
            class="img-fluid mt-4 img-redondeada"
            alt=""
          />
          <img
            src="../../imagenes/astrologia/1.jpg"
            class="img-fluid mt-3 img-redondeada"
            alt=""
          />

        </div>
      </div>

      <!-- BODY -->
    </main>
    <!-- FOOTER -->

    <div class="b-example-divider mt-auto"></div>
    <div class="">
      <footer class="py-4 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <span class="nav-link footer-contacto px-2 text-muted"
              >Contacto:</span
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.facebook.com/eltallercarolinadoartero"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-facebook redes-sociales-buttons facebook-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.instagram.com/carolinadoartero/"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-instagram redes-sociales-buttons instagram-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.youtube.com/channel/UCxVxv0CAZd-om2yojMqJApA"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-youtube redes-sociales-buttons twitter-button"
              ></i
            ></a>
          </li>
          <!-- <li class="nav-item"><a href="http://carolinadoartero.blogspot.com/" target="_blank" class="nav-link px-2 text-muted"><i class="fab fa-blogger redes-sociales-buttons blogger-button"></i></a></li> -->
          <li class="nav-item">
            <a
              href="https://api.whatsapp.com/send/?phone=5491161434888&text=Hola+Carolina+vengo+de+tu+pagina+web&app_absent=0"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-whatsapp-square redes-sociales-buttons whatsapp-button"
              ></i
            ></a>
          </li>
        </ul>
        <p class="text-center text-muted d">© 2021 Carolina Doartero</p>
      </footer>
    </div>

    <!-- FOOTER -->
  </body>
</html>
