<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="titulo-head">Carolina Doartero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/imagenes/logo-astrologia.png" />
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- FUENTE -->
    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWESOME -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../plantillas/main.css" />
    <link rel="stylesheet" href="main.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand me-5" href="#">Carolina Doartero</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-inicio" href="../inicio/index.html"">inicio</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-formacion" href="../formacion/index.html""
                >formación</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link active" id="nav-danza" href="#">danza</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-poesia" href="../poesia/index.html"">poesía</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-docencia" href="../docencia/index.html""
                >docencia</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-taller" href="../el-taller/index.html""
                >el taller</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-astrologia" href="../astrologia/index.html""
                >astrología y tarot</a
              >
            </li>
            <li class="nav-item ms-2">
              <a
                class="nav-link"
                id="nav-blog"
                href="https://carolinadoartero.herokuapp.com/blog"
                >blog</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAVBAR -->
    <main class="container contenedor-body" style="margin-top: 5%">
      <!-- BODY -->

<div class="mt-4">
  <div class="row">
    <div class="col-md-0">
      
    </div>
    <div class="col-md-10">
      <h2  class="d-inline subtitulo-formacion ms-3">danza <h4 class="d-inline subtitulo-formacion">e integración de lenguajes artísticos</h4></h2>
      
      <p class="ms-3 mt-4">
        <span class="d-block">Coreografías presentadas en teatros de CABA, La Plata, localidades de la Provincia de Buenos Aires, Neuquén, Santiago de Chile, La Habana-Cuba, Isla del Sol-Bolivia y Montevideo-Uruguay.</span>
      </p>
      <!-- <hr> -->
      <!-- <h4 class="subtitulo"><b>Danza</b></h4> -->
      <ul>
        <li class="mb-3" id="span-epopeya"><span>1991 Junto al actor Julio Cortés estrenan <a class="link-obras" href="#epopeya">Epopeya del vencido</a> obra de Teatro y Danza. Seleccionada para el "Encuentro Poblacional y Latinoamericano de Teatro", La Granja, Santiago de Chile</span></li>
        <li class="mb-3" id="span-armonia"><span>1992 Junto a la pianista Evelina Aitala Pacín crean <a class="link-obras" href="#armonia">En Armonía</a> integración de Piano, Danza y Poesía. Interpretan obras de Debussy, Ravel, Chopin y Gustavino</span></li>
        <li class="mb-3" id="span-mama"><span>1995 Estrena en el Teatro Municipal de Olavarría <a class="link-obras" href="#mama">Mamá sin tacos no puede bailar</a> co- dirigida por Déborah Kalmar. <br> Obra presentada en <br> VI Encuentro Latinoamericano y Caribeño sobre Enseñanza Artística, La Habana-Cuba <br> 1er Encuentro Provincial de Danza Contemporánea, La Plata <br> Jornadas de Educ por el Arte, Laprida</span></li>
        <li class="mb-3"><span>1996-1997 Presenta sus coreografías en los encuentros anuales el MOTRICS Movimiento de Trabajadores e Investigadores Corporales para la Salud. Teatro IFT de BsAs</span></li>
        <li class="mb-3"><span>1999 realiza las coreografías de la obra <b>Conciencia</b> de Eduardo Timpanaro </span></li>
        <li class="mb-3" id="span-viaje"><span>1999 Estrena el solo coreográfico <a class="link-obras" href="#viaje">Viaje de Signos</a> <br> Obra presentada en <br> 3er Festival de Danza Contemporánea, Neuquén <br> Evento "Lectura 99", La Habana-Cuba</span></li>
        <li class="mb-3"><span>2000 Coreografía del espectáculo <b>Sol y Luna en el 2000</b> dirigido por la cantante Maribel Aitala</span></li>
        <li class="mb-3" id="span-virgenes"><span>2001 Participa del proyecto multidisciplinario <a class="link-obras" href="#virgenes">Vírgenes y Santos</a> del grupo Can Can, con Coreografía, Videodanza y Fotografía</span></li>
        <li class="mb-3"><span>2001 Integra junto a los músicos José Larregle, Luciano Bascones, Beto Melendi y la artista plástica María Inés Fitte el grupo de Experimentación Escénica <b>Los Vicente</b></span></li>
        <li class="mb-3"><span>2001 Junto al músico Eduardo Timpanaro unen guitarra, Danza, Canto y Poesía en el dúo <b>Integra-dos</b> </span></li>
        <li class="mb-3" id="span-diana"><span>2001 Presenta <b>Con los pies desnudos</b>. En el Teatro Municipal de Olavarría. Estrena <a class="link-obras" href="#diana">Todas somos Diana Coti</a>, <b>El otro lado de Angelita</b> y <a class="link-obras" href="#raices">Raíces</a></span></li>
        <li class="mb-3" id="span-latidos"><span>2006 y 2007 junto al músico Abel Gorosito, presentan <a class="link-obras" href="#latidos">Latidos</a>, poesías y canciones en movimiento <br>
        <li class="mb-3"><span>2007 Junto a los músicos Eduardo Timpanaro y Abel Gorosito dieron forma a un espectáculo integrando saxo, guitarra, violín, danza y poesía</span></li>

        <li class="mb-3" id="span-kim"><span>2008 KIM Kosmos in Movement- Seminario Internacional de Teatro Físico y Danza Experimental. Coroico e Isla del Sol-Bolivia. Presenta: <br> <a class="link-obras" href="#kim">Fermento</a> Poesía, Fotografía y Danza junto a Daniela Espinosa. <br><a class="link-obras" href="#kim">Purificación</a> dirigida por Se Rok Park. <br><a class="link-obras" href="#kim">Las mañaneras</a> junto a Karina Bacelli, dirigidas por Eduardo Herrera</span></li>
        <li class="mb-3" id="span-origami"><span>2010 Dirige e interpreta <a class="link-obras" href="#origami">Origami</a> cuerpos desplegados. Intérpretes: Maité Destréz y Marisa Messineo. Música: de Ulises Merlos y Nicolás Hailand </span></li>
        <li class="mb-3" id="span-encuentro-latinoamericano">
          <span>
            2011 Participa en el <a class="link-obras" href="#encuentro-latinoamericano">Primer Encuentro Latinoamericano de Danza y Política</a>,
            organizado por el Centro Cultural de la Cooperación y COCOA Coreógrafos Contemporáneos Asociados en el ECuNHi Espacio Cultural Nuestros Hijos
          </span>
        </li>
        <li class="mb-3" id="span-floresta"><span>2012 Junto a Marina Gubbay y Mariana Danani crean <a class="link-obras" href="#floresta">La Floresta</a>.
          La obra recibe subsido de Prodanza <br>
          2012 Se estrena en El Portón de Sánchez de la ciudad de Buenos Aires <br>
          2013, Funciones en Pata de Ganso, Caba <br>
          2013 Festival Internacional de Danza Teatro, Bariloche <br>
          Función en la Escuela de Danza Clásica, Bahía Blanca <br> 
          Función en el Teatro Municipal de Olavarría.
        </span></li>
        <li class="mb-3" id="span-monarcas"><span>
          2014 Junto a Fermín Acosta, dirige el videodanza <a class="link-obras" href="#monarcas">Monarcas</a>. <br>
          Se estrena en La Sala Blanca- Barcelona, en el cierre del taller <b>Mujeres que danzan</b>. <br> Se presenta en <br> Muestra Libros en Olavarría <br>
          1era Muestra Internacional Proyecto Corporalidad Expandida <br> IV Festival Internacional de Danza Independiente sección Video - Danza organizado por COCOA
        </span></li>
        <li class="mb-3" id="span-cuadernos"><span>
          2017 junto a Annick Maucouvert, crean <a class="link-obras" href="#cuadernos">Cuadernos de viaje - Carnet des routes</a>. <br>
          Obra presentada en <br> Estudio Maucouvert, Montevideo <br> EKS Estudio Kalmar Stokoe, Buenos Aires
        </span></li>
        <li class="mb-3" id="span-como-sal-al-sol"><span>
         2019 Junto al músico Andrés Hojman, crean <a class="link-obras" href="#como-sal-al-sol">Como sal al sol</a> poesías y canciones en danza. Propuesta de integración de lenguajes. Plantea un recorrido por canciones populares de diferentes culturas que se entraman con poemas de Carolina Doartero. 

         <br>  
         <p class="">Este trabajo fue presentado en  <br>
          Café Vinilo <br>
          Hasta Trilce <br>
          Pista Urbana <br>
          Vicente el absurdo <br>
          La casa del árbol <br>
          El Crisol Teatro <br>
          El Arenal Teatro</p>
        </span></li>


      </ul>

    </div>


    <div class="col-md-0">
      
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>


<div class="card border-0 mb-4" id="epopeya">
  <h2 class="subtitulo-formacion text-center mt-5 mb-5 me-4 offset-1">Epopeya del Vencido</h2>
  <div class="row mb-0">
    <div class="col-md-4 mb-0 mt-2">
      <img src="../../imagenes/epopeya/1.jfif" class="img-fluid img-izquierda w-100 aumentar-height img-poster" alt="Poster Epopeya del Vencido">
      <img src="../../imagenes/epopeya/6.jfif" class="img-fluid img-izquierda w-100 mt-3 img-poster" alt="Poster Epopeya del Vencido">
      <!-- <div class="img-fluid div-img-epopeya1 img-izquierda mt-3 w-100 "></div> -->
    </div>
    <div class="col-md-4 mt-0">
          <div class="card-body mt-0">
            <h5 class="mb-5 text-center offset-2 epopeya-texto-responsive">Teatro y Danza</h5>
            <h5 class="text-center offset-2 epopeya-texto-responsive">Obra basada en el texto <br> "Las venas abiertas de América Latina" de Eduardo Galeano</h5>
              <p class="card-text text-center mt-5 offset-2 epopeya-texto-responsive" style="margin-top: 12%;">
                <span class="texto-naranja"><b>Danza - Actuación</b></span><br>
                Carolina Doartero <br>
                Julio Cortés <br> <br>
                <span class="texto-naranja"><b>Coreografía</b></span><br>
                Carolina Doartero <br> <br>
                <span class="texto-naranja"><b>Música</b></span><br>
                Juan C. Maddío <br> <br>
                <span class="texto-naranja"><b>Escenografía</b></span><br>
                Fabiana Mattano <br> <br>
                <span class="texto-naranja"><b>Diseño de afiche</b></span><br>
                Miguel Galgano <br> <br>
                <span class="texto-naranja"><b>Co-dirección</b></span><br>
                Osvaldo Farías <br> <br>
                <span class="texto-naranja"><b>Dirección general</b></span><br>
                Julio Cortés <br>
                <br>
              </p>
          </div>
      </div>
      <div class="col-md-4 text-end">
        <img src="../../imagenes/epopeya/5.jfif" class="img-fluid w-75 img-derecha mt-2 mb-3 img-derecha img-w100-responsive" alt="Epopeya del Vencido">
        <img src="../../imagenes/epopeya/4.jfif" class="img-fluid w-75 img-derecha  mb-0 img-derecha img-w100-responsive" alt="Epopeya del Vencido">
        <!-- <div class="img-fluid div-img-epopeya2 img-derecha mt-3 w-100 "></div> -->
      </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>



<div class="card border-0 mt-4 mb-4" id="armonia">
  <h2 class="subtitulo-formacion mb-5 mt-5 text-center">En Armonía</h2>
  <div class="row mb-0">
      <div class="col-md-4">
          <img src="../../imagenes/imagenes1/armonia-poster1.jfif" class="img-fluid mb-0 img-izquierda img-w100-responsive" style="width: 85%;" alt="Diario de En Armonia">
      </div>
      <div class="col-md-4 mt-0 text-center armonia-titulo-responsive">
        <h5>Piano - Danza - Poesía</h5>
          <div class="card-body">
              <p class="card-text mt-5 armonia-texto-responsive">
                <span class="texto-naranja"><b>Piano</b></span><br>
                Evelina Aitala Pacín <br>
                <br>
                <span class="texto-naranja"><b>Coreogrefía e interpretación</b></span><br>
                Carolina Doartero <br>
                <br>
                <span class="texto-naranja"><b>Obras de</b></span><br>
                Vangelis <br>
                Paganini <br>
                Guastavino <br>
                Debussy <br>
                Ravel <br>
                <br>
                <span class="texto-naranja"><b>Direccion</b></span><br>
                Evelina Aitala Pacín <br>
                Carolina Doartero <br>
              </p>
          </div>
      </div>
      <div class="col-md-4 text-end">
        <img src="../../imagenes/imagenes1/en-armonia2.jfif" class="img-fluid mb-0 img-derecha img-w100-responsive" style="width: 85%; height: 97%;" alt="Diario de En Armonia">
    </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-armonia">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>


<!-- MAMA SIN TACOS 2 -->

<div class="card border-0 mb-4" id="mama">
  <h2 class="subtitulo-formacion mb-5 mt-5 text-center">Mamá Sin Tacos No Puede Bailar</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="../../imagenes/mama-sin-tacos/13.png" class="img-fluid mb-3 img-izquierda img-w100-responsive" style=" width: 84.15%;" alt="Poster Mama Sin Tacos No Puede Bailar">
      <img src="../../imagenes/mama-sin-tacos/10.png" class="img-fluid mb-3 img-izquierda img-w100-responsive" style="width: 65%;" alt="Poster Mama Sin Tacos No Puede Bailar">
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-center mb-5">Monólogo Coreográfico</h5>
      <p class="" style="margin-top: 20%;">
        <span class="texto-naranja"><b>Coreografía e interpretación</b></span> <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Co-dirección</b></span><br>
        Déborah Kalmar <br>
        <br>
        <span class="texto-naranja"><b>Diseño de vestuarios</b></span><br>
        María Alejandra Challú <br>
        <br>
        <span class="texto-naranja"><b>Diseño de escenografía</b></span><br>
        María del Carmen Nowell <br>
        <br>
        <span class="texto-naranja"><b>Maquillaje</b></span><br>
        María Inés Fitte <br>
        <br>
        <span class="texto-naranja"><b>Pintura de objetos en escena</b></span><br>
        María del Carmen Nowell, María Inés Fitte <br>
        <br>
        <span class="texto-naranja"><b>Voces en off</b></span><br>
        Mariana Benítez, Malena Lago <br>
        <br>
        <span class="texto-naranja"><b>Asistente de dirección</b></span><br>
        Magdalena Llera <br>
        <br>
        <span class="texto-naranja"><b>Compaginación sonora</b></span><br>
        Abel Gorosito <br>
        <br>
        <span class="texto-naranja"><b>Fotografía</b></span><br>
        Dante Lartirigoyen <br>
        <br>
        <span class="texto-naranja"><b>Dirección general</b></span><br>
        Carolina Doartero
      </p>
    </div>
      <div class="col-md-4 text-end">
        <img src="../../imagenes/mama-sin-tacos/11.png" class="img-fluid img-derecha img-w100-responsive" style="width: 65%; margin-bottom: 12%;" alt="">
        <img src="../../imagenes/mama-sin-tacos/12.png" class="img-fluid mb-3 img-derecha img-w100-responsive" style="width: 65%;" alt="">
      </div>
      <div class="col-md-1"></div>
  </div>
  <div class="d-block text-center mt-4 mb-0 ms-3 me-3">
    <img src="../../imagenes/mama-sin-tacos/1.png" class="img-mama-horizontal d-none-responsive" alt="Mama Sin Tacos No Puede Bailar">
    <img src="../../imagenes/mama-sin-tacos/2.png" class="img-mama-vertical d-none-responsive" alt="Mama Sin Tacos No Puede Bailar">
    <img src="../../imagenes/mama-sin-tacos/3.png" class="img-mama-horizontal d-none-responsive" alt="Mama Sin Tacos No Puede Bailar">
    <img src="../../imagenes/mama-sin-tacos/4.png" class="img-mama-vertical d-none-responsive" alt="Mama Sin Tacos No Puede Bailar">
    <img src="../../imagenes/mama-sin-tacos/5.png" class="img-mama-horizontal d-none-responsive" alt="Mama Sin Tacos No Puede Bailar">
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-mama">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>


<!-- MAMA SIN TACOS 2 -->



<!-- VIAJE DE SIGNOS -->
<div class="card border-0 mb-4" id="viaje">
  <h2 class="subtitulo-formacion mb-5 mt-5 text-center">Viaje de Signos</h2>
  <div class="row mb-0">
    <div class="col-md-4">
      <img src="../../imagenes/viaje-de-signos/1.jfif" class="img-fluid img-izquierda img-w100-responsive" style="width: 85%;" alt="">
      <img src="../../imagenes/viaje-de-signos/2.jfif" class="img-fluid img-izquierda mt-3 img-w100-responsive" style="width: 85%;" alt="">
    </div>
    <div class="col-md-4 mt-0">
      <h5 class="text-center mt-0 mb-5 margin-top-responsive">Viaje de una mujer <br> por los estados de su alma</h5>
      <p class="text-center" style="margin-top: 20%;">
        <span class="texto-naranja"><b>Coreografía e interpretación</b></span><br>
        Carolina Doartero <br> 
        <br>
        <span class="texto-naranja"><b>Música</b></span><br>
        Carl Orff <br>
        Meredith Monk <br>
        Enya <br>
        Desert Blues <br>
        <br>
        <span class="texto-naranja"><b>Compaginación sonora</b></span><br>
        Abel Gorosito <br>
        <br>
        <span class="texto-naranja"><b>Diseño de luces</b></span><br>
        Juan Manuel Wally <br>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/viaje-de-signos/3.jfif" class="img-fluid img-derecha img-w100-responsive" style="width: 85%;" alt="">
      <img src="../../imagenes/viaje-de-signos/4.jfif" class="img-fluid img-derecha mt-3 img-w100-responsive" style="width: 85%;" alt="">
    </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-viaje">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>
<!-- VIAJE DE SIGNOS  -->



<div class="card border-0 mb-4" id="virgenes">
  <h2 class="subtitulo-formacion mb-5 mt-5 text-center ms-3">Vírgenes y Santos</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="../../imagenes/imagenes1/virgenes-santos1.jfif" class="img-fluid img-izquierda mt-3 img-w100-responsive" style="width: 90%;" alt="">
      <img src="../../imagenes/virgenes-y-santos/1.jfif" class="img-fluid mb-0 img-izquierda mt-3 img-w100-responsive" style="width: 90%;" alt="">
    </div>
      <div class="col-md-4">
        <div class="card-body">
            <h5 class="text-center ms-3 mt-0 mb-3">Proyecto Multidisciplinario <br> <br> Coreografía - Videodanza - Fotografía</h5>

              <p class="card-text text-center ms-2" style="margin-top: 15%;">
                <span class="texto-naranja"><b>Musica</b></span><br>
                Claudio Pedreira <br>
                <br>
                <span class="texto-naranja"><b>Coreografia e interpretacion</b></span><br>
                Carolina Doartero <br>
                <br>
                <span class="texto-naranja"><b>Imagen de tapa</b></span><br>
                Marcelo Góngora <br>
                <br>
                <span class="texto-naranja"><b>Modelos</b></span><br>
                Carolina Doartero <br>
                Quique Baldini <br>
                <br>
                <span class="texto-naranja"><b>Producción</b></span><br>
                Marcelo Góngora <br>
                Telma Martin <br>                
              </p>
          </div>
      </div>
      <div class="col-md-4 mb-0 text-end">
        <img src="../../imagenes/imagenes1/virgenes-santos2.jfif" class="img-fluid img-derecha mt-3 mb-3 img-w100-responsive" style="width: 85%;" alt="">
        <img src="../../imagenes/imagenes1/virgenes-santos3.jfif" class="img-fluid mb-0 img-derecha img-w100-responsive" style="width: 85%;" alt="">
      </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>


<!-- TODAS SOMOS DIANA COTI 2 -->

<div class="card border-0 mt-4 mb-4" id="diana">
  <h2 class="subtitulo-formacion mb-5 mt-5 text-center">Todas somos Diana Coti</h2>
  <div class="row">
      <div class="col-md-4 mt-4 mb-0">
          <img src="../../imagenes/diana-coti/3.jfif" class="img-fluid img-izquierda img-w100-responsive" style="height: 45%; width: 93%; margin-bottom: 8.5%;" alt="Todas somos Diana Coti">
          <img src="../../imagenes/diana-coti/4.jfif" class="img-fluid mb-0 img-izquierda img-w100-responsive" style="height: 45%; width: 93%;" alt="Todas somos Diana Coti">
      </div>
      <div class="col-md-4">
          <div class="card-body">
            <h5 class="text-center mb-4">
              Seis mujeres <br>
              y sus rituales cotidianos <br></h5>
            <p class="card-text text-center mt-0">
              <span class="texto-naranja"><b>Coreografía</b></span> <br>
              Carolina Doartero <br>
              <br>
              <span class="texto-naranja"><b>Interpretación</b></span> <br>
              Marisa Messineo <br>
              Magdalena Llera <br>
              Carolina Villanueva <br>
              Nadia Rosenzvaig <br>
              Valentina Olondo <br>
              Carolina Doartero <br>
              <br>
              <span class="texto-naranja"><b>Música</b></span> <br>
              Eduardo Timpanaro <br>
              Hermeto Pascoal <br>
              <br>
              <span class="texto-naranja"><b>Diseño de luces</b></span> <br>
              Magdalena Llera <br>
              <br>
              <span class="texto-naranja"><b>Dirección</b></span> <br>
              Carolina Doartero <br>
      </p>
          </div>
      </div>
      <div class="col-md-4 mt-4 mb-0 text-end">
        <img src="../../imagenes/diana-coti/1.jfif" class="img-fluid img-derecha img-w100-responsive" style="height: 45%; width: 93%; margin-bottom: 8.5%;" alt="Todas somos Diana Coti">
        <img src="../../imagenes/diana-coti/2.jfif" class="img-fluid mb-0 img-derecha img-w100-responsive" style="height: 45%; width: 93%;" alt="Todas somos Diana Coti">
      </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- TODAS SOMOS DIANA COTI 2 -->


<!-- RAICES 3 -->

<div class="card border-0 mb-4" id="raices">
  <h2 class="subtitulo-formacion mb-3 mt-5 text-center">Raíces</h2>
  <h5 class="text-center mb-5">Coreografía inspirada en pinturas de Frida Kahlo</h5>
  <div class="row mb-0">
    <div class="col-md-4 text-center">
      <img src="../../imagenes/raices/6.png" class="img-fluid img-izquierda-raices img-w100-responsive" style="margin-left: 13%;" alt="">
      <img src="../../imagenes/raices/8.png" class="img-fluid img-izquierda-raices img-w100-responsive" style="margin-left: 13%; margin-top: 9.4%;" alt="">
    </div>
    <div class="col-md-4 text-center">
      <p>
        <span class="texto-naranja"><b>Coreografía e interpretación</b></span> <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Caracterización</b></span> <br>
        María Inés Fitte <br>
        <br>
        <span class="texto-naranja"><b>Música</b></span> <br>
        Eduardo Timpanaro <br>
        <br>
        <span class="texto-naranja"><b>Fotografía - Ensayo</b></span> <br>
        Marcelo Góngora <br>
      </p>
      <img src="../../imagenes/raices/10.png" class="img-fluid mt-3 d-none-responsive" style="border-radius: 1.5%; width: 65%; margin-top: 11%;" alt="">
    </div>
    <div class="col-md-4 text-center">
      <img src="../../imagenes/raices/7.png" class="img-fluid img-derecha-raices img-w100-responsive" style="margin-left: -26%;" alt="">
      <img src="../../imagenes/raices/9.png" class="img-fluid img-derecha-raices img-w100-responsive" style="margin-left: -26%; margin-top: 9.4%;" alt="">
    </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- RAICES 3 -->

<!-- LATIDOS -->

<div class="card border-0 mb-4" id="latidos">
  <h2 class="subtitulo-formacion mb-5 mt-5 text-center">Latidos</h2>
  <div class="row mb-0">
    <div class="col-md-4">
      <img src="../../imagenes/latidos/10.png" class="img-fluid img-izquierda img-w100-responsive" style="width: 90%;" alt="">
      <img src="../../imagenes/latidos/12.png" class="img-fluid img-izquierda mt-3 img-w100-responsive" style="width: 90%;" alt="">
    </div>
    <div class="col-md-4 mt-0 text-center">
      <h5 class="mb-3">poesías y canciones <br> en movimiento</h5>
      <p style="margin-top: 20%;">
        <span class="texto-naranja"><b>Canto y poesía</b></span> <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Poemarios</b></span> <br>
        Con los pies desnudos <br>
        Hidra y Sirena <br>
        Fermento <br>
        <br>
        <span class="texto-naranja"><b>Guitarra</b></span> <br>
        Abel Gorosito <br>
        <br>
        <span class="texto-naranja"><b>Lectura de poemas</b></span> <br>
        María Pía Pillonetto <br>
        <br>
        <span class="texto-naranja"><b>Fotografía</b></span> <br>
        Marcelo Góngora <br>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/latidos/11.png" class="img-fluid img-derecha img-w100-responsive" style="width: 90%;" alt="">
      <img src="../../imagenes/latidos/13.png" class="img-fluid img-derecha mt-3 img-w100-responsive" style="width: 90%;" alt="">
    </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- LATIDOS -->

<!-- KIM 2 -->

<div class="card border-0 mb-4" id="kim">
  <h2 class="subtitulo-formacion mb-5 mt-5 text-center">KIM Kosmos in Movement</h2>
  <div class="row mt-4 mb-0">
    <div class="col-md-4">
      <img src="../../imagenes/kim/3.png" class="img-fluid img-izquierda mb-3 w-75 img-w100-responsive" alt="">
      <img src="../../imagenes/kim/1.png" class="img-fluid img-izquierda w-75 img-w100-responsive" alt="">
    </div>
    <div class="col-md-4 text-center mt-0">
      <h5 class="text-center mb-5">Seminario Internacional <br> Teatro Físico y Danza Experimental <br> Convivencia - Entrenamiento - Creación <br> <br> Bolivia</h5>
      <p style="margin-top: 20%;">
        <h5 style="color: #821309;">Fermento</h5> <br>
        Danza + Poesía + Fotografía <br>
        <br>
        <span class="texto-naranja"><b>Poemas</b></span> <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Fotografía</b></span> <br>
        Daniela Espinosa <br>
      </p>
      <h5 style="color: #821309; margin-top: 10%; margin-bottom: 10%;">*</h5>

        <h5 style="color: #821309;">Purificación</h5> <br>
        <span class="texto-naranja"><b>Coreografía e interpretación</b></span> <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Dirección</b></span> <br>
        Se Rok Park
      </p>
      <h5 style="color: #821309; margin-top: 10%; margin-bottom: 10%;">*</h5>
      <p>
        <h5 style="color:#821309">Las Mañaneras</h5> <br>
        <span class="texto-naranja"><b>Interpretación</b></span> <br>
        Karina Bacelli <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Fotografía</b></span> <br>
        Daniela Espinosa <br>
        <br>
        <span class="texto-naranja"><b>Dirección</b></span> <br>
        Eduardo Herrera
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/kim/4.png" class="img-fluid img-derecha mb-3 w-75 img-w100-responsive" alt="">
      <img src="../../imagenes/kim/2.png" class="img-fluid img-derecha w-75 img-w100-responsive" alt="">
    </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- KIM 2 -->

<!-- ORIGAMI 2 -->

<div class="card border-0 mb-4" id="origami">
  <h2 class="subtitulo-formacion text-center mb-3 mt-5">Origami</h2>
  <h5 class="text-center mb-4">cuerpos desplegados</h5>
  <div class="row mt-4 mb-5 mt-2">
    <div class="col-md-4">
      <img src="../../imagenes/origami/1.png" class="img-fluid img-izquierda w-75 img-w100-responsive" alt="">
    </div>
    <div class="col-md-4 text-center">
      <p class="mt-2">
        <span class="texto-naranja"><b>Interpretación</b></span><br>
        Maité Destréz <br>
        Marisa Messineo <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Música</b></span><br>
        Ulises Merlos - Violín <br>
        Nicolás Hailand - Contrabajo <br>
        <br>
        <span class="texto-naranja"><b>Fotografía</b></span><br>
        Emilia Ordóñez <br>
        <br>
        <span class="texto-naranja"><b>Dirección</b></span><br>
        Carolina Doartero <br>
        <br>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/origami/2.png" class="img-fluid img-derecha w-75 img-w100-responsive" alt="">
    </div>
  </div>
  <div class="text-center mb-0">
    <img src="../../imagenes/origami/6.png" class="me-3 d-none-responsive" alt="">
    <img src="../../imagenes/origami/3.png" class="img-fluid d-none-responsive" style="border-radius: 1.5%;" alt="">
    <img src="../../imagenes/origami/7.png" class="ms-3 d-none-responsive" alt="">
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- ORIGAMI 2 -->


<div class="col-md-12 card mt-4 mb-4" id="encuentro-latinoamericano">
  <h2 class="subtitulo-formacion mt-5 mb-5 text-center">Encuentro Latinoamericano de Danza y Política</h2>
  <div class="row mb-0">
    <div class="col-md-4">
      <img src="../../imagenes/imagenes1/encuentro-sudamericano-poster.jfif" class="img-fluid img-desaparecidos mt-2 mb-0 img-izquierda img-w100-responsive" style="height: 95%;" alt="">
      <!-- <img src="../imagenes/desaparecidos/04.jpg" class="img-fluid img-desaparecidos mt-2 mb-2  img-izquierda" style="height: 47%;" alt=""> -->
    </div>
    <div class="col-md-4 mt-1 text-center">
      <h5 style="margin-bottom: 12%;">Espacio de creación conjunta<br> <br></h5>
      <p class="mt-5 text-center"">
        <span class="texto-naranja"><b>Performance</b></span><br> 
        Gimena Torti Romairone <br>
        Suely Machado <br>
        Carolina Molinero <br>
        Laura Romero <br>
        Constanza Cordovez <br>
        Carolina Doartero <br> <br>
        <span class="texto-naranja"><b>Fotografías</b></span><br>
        Alejandra Diaz <br>
        <br>
        <span class="texto-naranja"><b>Locación</b></span><br>
        ECUNHI Espacio Cultural Nuestros Hijos <br>
        Asociación Madres de Plaza de Mayo <br>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/desaparecidos/encuentro-danza4.png" class="img-fluid img-desaparecidos mt-2 mb-2 img-derecha img-w100-responsive" alt="">
      <img src="../../imagenes/desaparecidos/encuentro-danza3.png" class="img-fluid img-desaparecidos mt-2 mb-0 img-derecha img-w100-responsive" alt="">
    </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- FLORESTA 3 -->

<div class="card border-0 mb-4" id="floresta">
  <h2 class="subtitulo-formacion text-center mb-3 mt-5">La Floresta</h2>
  <h5 class="text-center mb-4">Obra basada en el cuento "Como una corza" de Clarice Lispector</h5>
  <div class="row mt-4 mb-0">
    <div class="col-md-4">
      <img src="../../imagenes/floresta/7.png" class="img-fluid img-izquierda mb-3 img-w100-responsive" style="border-radius: 1.5%; width: 90%;" alt="">
      <img src="../../imagenes/floresta/01.png" class="img-fluid img-izquierda mb-3 img-w100-responsive" style="border-radius: 1.5%; width: 75%;" alt="">
      <img src="../../imagenes/floresta/02.png" class="img-fluid img-izquierda img-w100-responsive" style="border-radius: 1.5%; width: 90%;" alt="">
    </div>
    <div class="col-md-4 text-center">
      <p style="margin-top: 8%;">
        <span class="texto-naranja"><b>Creación colectiva</b></span><br>
        Mariana Danani <br>
        Carolina Doartero <br> 
        Marina Gubbay <br>
        <br>
        <span class="texto-naranja"><b>Idea y dirección</b></span><br>
        Marina Gubbay <br> <br>
        <span class="texto-naranja"><b>Interpretación</b></span><br>
        Mariana Danani <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Música original</b></span><br>
        Andres Rubinsztejn <br>
        <br>
        <span class="texto-naranja"><b>Músicos</b></span><br>
        Eliana Liuni <br> 
        <br>
        <span class="texto-naranja"><b>Iluminación</b></span><br>
        José Binetti <br>
        <br>
        <span class="texto-naranja"><b>Diseño de vestuario y objetos</b></span><br>
        Paula Herrera <br>
        Natasha Voliakovsky <br> 
        <br>
        <span class="texto-naranja"><b>Video</b></span><br>
        Paula Zacharías <br>
        <br>
        <span class="texto-naranja"><b>Fotografía</b></span><br>
        Guillermo Genitti <br>
        <br>
        <span class="texto-naranja"><b>Diseño gráfico</b></span><br>
        Diego Farah <br>
        <br>
        <span class="texto-naranja"><b>Prensa</b></span><br>
        Daniel Franco <br>
        Paula Simkin <br>
        <br>

      </p>
      <p style="margin-top: 30%;">
        <span class="texto-naranja"><b>Prensa</b></span><br>
        <a class="link-prensa" href="https://saborateatro.com/2012/11/01/la-floresta-ese-mundo-magico-que-todos-deseamos-tener/">Sabor a teatro</a><br>
        <a class="link-prensa" href="https://www.pagina12.com.ar/diario/suplementos/espectaculos/index-2012-11-14.html">Página 12</a><br>
        <a class="link-prensa" href="https://carolinadoartero.com/images/la-floresta/Kine105-pag19-laFloresta.pdf">Kine</a><br>
        <a class="link-prensa" href="http://www.balletindance.com.ar/PDF/Balletin%20217c.pdf#page=12&zoom=auto,0,794">Balletin Dance</a><br>
        <a class="link-prensa" href="http://revistarevol.com/zona-de-resenas/un-descenso-a-la-floresta/">Revista Revol</a>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/floresta/6.png" class="img-fluid img-derecha mb-3 img-w100-responsive" style="width: 90%;" alt="">
      <img src="../../imagenes/floresta/03.png" class="img-fluid img-derecha mb-3 img-w100-responsive" style="width: 75%;" alt="">
      <img src="../../imagenes/floresta/04.png" class="img-fluid img-derecha img-w100-responsive" style="width: 90%;" alt="">
    </div>
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- FLORESTA 3 -->


<!-- MONARCAS 3 -->

<div class="col-md-12 card mt-4 mb-4" id="monarcas">
  <h3 class="card-title titulos text-center mb-3 mt-5 epopeya-texto-responsive" style="margin-left: 5.5%;">Monarcas</h3>
  <h5 class="text-center mb-4 epopeya-texto-responsive" style="margin-left: 5.5%;">Videodanza</h5>
  <div class="row mt-2">
    <div class="col-md-4 mb-5 mt-4" >
      <img src="https://carolinadoartero.com/images/afiche_monarcas.jpg" alt="" class="img-fluid img-izquierda img-w100-responsive" style="width: 85%;">
    </div>
    <div class="col-md-4 text-center mt-1">
      <p class="text-center offset-2 epopeya-texto-responsive">
        <span class="texto-naranja"><b>Intérpretes</b></span> <br>
        Solana Gomez <br>
        Nora Moreno <br>
        Liliana Najdorf <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Dirección coreográfica</b></span> <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Realización audiovisual</b></span> <br>
        Fermín Acosta <br>
        <br>
        <span class="texto-naranja"><b>Dirección de fotografía</b></span> <br>
        José Ignacio García Lizziero <br>
        <br>
        <span class="texto-naranja"><b>Música</b></span> <br>
        Claudio Pedreira <br>
        <br>
        <span class="texto-naranja"><b>Producción general</b></span> 
        <br> Telma Martin <br>
        <br>
        <span class="texto-naranja"><b>Diseño gráfico</b></span> <br>
        Diego Farah <br>
        <br>
        <span class="texto-naranja"><b>Idea y dirección general</b></span> <br>
        Carolina Doartero <br>
        <br>
        <!-- Auspicia el Gobierno Municipal de Olavarria a través de la Subsecretaria de Cultura, Educación y Turismo. -->
      </p>
    </div> 
    <div class="col-md-4 text-end mb-3">
      <img src="../../imagenes/monarcas/1.png" class="mb-3 img-derecha img-w100-responsive" style="border-radius: 1.5%; width: 65%;" alt="">
      <img src="../../imagenes/monarcas/2.png" class="img-derecha img-w100-responsive" style="border-radius: 1.5%; width: 65%;" alt="">
    </div>     
  </div>
  <div class="text-center mb-0">
    <img src="../../imagenes/monarcas/3.png" class="mb-0 mt-2 me-2 d-none-responsive" style="width: 30%; border-radius: 1.5%;" alt="">
    <img src="../../imagenes/monarcas/monarcas.jpg" class="mb-0 mt-2 me-2 img-w100-responsive" style="width: 30%; border-radius: 1.5%;" alt="">
    <img src="../../imagenes/monarcas/4.png" class="mb-0 mt-2 d-none-responsive" style="width: 30%; border-radius: 1.5%;" alt="">
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-epopeya">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
</div>

<!-- MONARCAS 3 -->


  <!-- CUADERNOS 2 -->

  <div class="col-md-12 card mt-4 mb-4" id="cuadernos">
    <h2 class="subtitulo-formacion mt-5 mb-5 ms-5 text-center epopeya-texto-responsive">Cuadernos de viaje - Carnet des routes</h2>
    <div class="row mt-3 mb-0">
    <div class="col-md-4">
      <img src="../../imagenes/cuadernos/1.png"alt="" class="img-fluid img-izquierda mb-3 w-75 img-w100-responsive">
      <img src="../../imagenes/cuadernos/2.png"alt="" class="img-fluid img-izquierda w-75 img-w100-responsive">
    </div>
    <div class="col-md-4 text-center">
      <h5 class="text-center mb-4">Danza Teatro</h5>
      <p class="mt-1">
        Dos bailarinas en su madurez, <br> una en Montevideo, la otra en Buenos Aires. <br> 
        En un ritual íntimo se miran en el espejo del río. <br> Las danzas de ayer se revisitan con el cuerpo de hoy. 
        Como el río fluye hacia el mar, <br> ellas buscan la fuente donde la subjetividad estalla <br> en ramificaciones que las trascienden.
      </p>
      <p class="mt-4">
        <span class="texto-naranja"><b>Creación e interpretación:</b></span><br>
        Annick Maucouvert <br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Montaje musical</b></span><br>
        Vladimir Cosma <br>
        Aldo Romano <br>
        Haendel <br>
        Anibal Troilo <br>
        Francisco Canaro <br>
        <br>
        <span class="texto-naranja"><b>Textos:</b></span><br>
        Carolina Doartero <br>
        Juan Sebastián Peralta <br>
        <br>
        <span class="texto-naranja"><b>Fotografías</b></span><br>
        Guillermo Genitti <br>
        Majo Casacó <br>
        <br>
        <span class="texto-naranja"><b>Iluminación y objetos en escena</b></span><br>
        Alain Boudinet
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/cuadernos/4.png" class="img-fluid img-derecha w-75 mb-3 img-w100-responsive" alt="">
      <img src="../../imagenes/cuadernos/3.png" class="img-fluid img-derecha w-75 img-w100-responsive" alt="">
      <!-- <p class="mt-4 mb-5 ms-3" style="width: 90%;">
        Dos bailarinas en su madurez, una en Montevideo, la otra en Buenos Aires. En un ritual íntimo y compartido, ambas se miran en el espejo del río a través de su obra. Sumergirse en el propio universo simbólico es adentrarse en el misterio. Las danzas de ayer se revisitan con el cuerpo y la sensibilidad de hoy. Como el río fluye hacia el mar, ellas buscan la fuente donde la subjetividad estalla en ramificaciones que las trascienden. CD
      </p> -->
    </div>      
  </div>
  <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-cuadernos">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
  </div>

  <!-- CUADERNOS 2 -->

    

  <!-- COMO SAL AL SOL -->

    <div class="col-md-12 card mt-4 mb-4" id="como-sal-al-sol">
    <h2 class="subtitulo-formacion mt-5 mb-3 text-center">Como sal al sol</h2>
    <h5 class="text-center mb-4">poesías y canciones en danza</h5>
    <div class="row mt-3 mb-2">
    <div class="col-md-4">
      <img src="../../imagenes/como-sal-al-sol/5.png"alt="" class="img-fluid img-izquierda mb-3 img-w100-responsive" style="width: 85%;">
      <img src="../../imagenes/como-sal-al-sol/2.png"alt="" class="img-fluid img-izquierda mb-3 img-w100-responsive" style="width: 85%;">
    </div>
    <div class="col-md-4 text-center">
      <p class="mt-3">
        <span class="texto-naranja"><b>Poesía, canto y movimiento</b></span><br>
        Carolina Doartero <br>
        <br>
        <span class="texto-naranja"><b>Arreglos, acordeón y percusión</b></span><br>
        Andrés Hojman <br>
        <br>
        <span class="texto-naranja"><b>Cuencos</b></span><br>
        Liliana Najdorf <br>
        <br>
        <span class="texto-naranja"><b>Músicos invitados</b></span><br>
        Claudio Pedreira <br>
        Juan Fernando Jiménez <br>
        <br>
        <span class="texto-naranja"><b>Fotografía</b></span><br>
        Miguel Santillán <br>
        Machi Poleri <br>
        <br>
        <span class="texto-naranja"><b>Ilustraciones</b></span><br>
        Malena Lago <br> <br>
        <span class="texto-naranja"><b>Idea y dirección</b></span><br>
        Carolina Doartero <br>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <img src="../../imagenes/como-sal-al-sol/6.png" class="img-fluid img-derecha mb-3 img-w100-responsive" style="width: 85%;" alt="">
      <img src="../../imagenes/como-sal-al-sol/1.png" class="img-fluid img-derecha mb-3 img-w100-responsive" style="width: 85%;" alt="">
    </div>      
  </div>
    <div class="text-center mb-0">
      <img src="../../imagenes/como-sal-al-sol/8.png" class="mb-0 mt-2 me-2 d-none-responsive" style="width: 23.5%; border-radius: 1.5%;" alt="">
      <img src="../../imagenes/como-sal-al-sol/10.png" class="mb-0 mt-2 me-2 d-none-responsive" style="width: 23.5%; border-radius: 1.5%;" alt="">
      <img src="../../imagenes/como-sal-al-sol/11.png" class="mb-0 mt-2 me-2 d-none-responsive" style="width: 23.5%; border-radius: 1.5%;" alt="">
      <img src="../../imagenes/como-sal-al-sol/12.png" class="mb-0 mt-2 d-none-responsive" style="width: 23.5%; border-radius: 1.5%;" alt="">
    </div>
    <div class="text-end div-flecha mb-4"><a style="text-decoration: none; color: black;" href="#span-como-sal-al-sol">volver <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i></a></div>
  </div>

  <!-- COMO SAL AL SOL -->

      <!-- BODY -->
    </main>
    <!-- FOOTER -->

    <div class="b-example-divider mt-auto"></div>
    <div class="">
      <footer class="py-4 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <span class="nav-link footer-contacto px-2 text-muted"
              >Contacto:</span
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.facebook.com/eltallercarolinadoartero"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-facebook redes-sociales-buttons facebook-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.instagram.com/carolinadoartero/"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-instagram redes-sociales-buttons instagram-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.youtube.com/channel/UCxVxv0CAZd-om2yojMqJApA"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-youtube redes-sociales-buttons twitter-button"
              ></i
            ></a>
          </li>
          <!-- <li class="nav-item"><a href="http://carolinadoartero.blogspot.com/" target="_blank" class="nav-link px-2 text-muted"><i class="fab fa-blogger redes-sociales-buttons blogger-button"></i></a></li> -->
          <li class="nav-item">
            <a
              href="https://api.whatsapp.com/send/?phone=5491161434888&text=Hola+Carolina+vengo+de+tu+pagina+web&app_absent=0"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-whatsapp-square redes-sociales-buttons whatsapp-button"
              ></i
            ></a>
          </li>
        </ul>
        <p class="text-center text-muted d">© 2021 Carolina Doartero</p>
      </footer>
    </div>

    <!-- FOOTER -->
  </body>
</html>
