<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="titulo-head">Carolina Doartero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/imagenes/logo-astrologia.png" />
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- FUENTE -->
    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWESOME -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../plantillas/main.css" />
    <link rel="stylesheet" href="main.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand me-5" href="#">Carolina Doartero</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-inicio" href="../inicio/index.html"">inicio</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-formacion" href="../formacion/index.html""
                >formación</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-danza" href="../danza/index.html"">danza</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-poesia" href="../poesia/index.html"">poesía</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-docencia" href="../docencia/index.html""
                >docencia</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link active" id="nav-taller" href="#">el taller</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-astrologia" href="../astrologia/index.html""
                >astrología y tarot</a
              >
            </li>
            <li class="nav-item ms-2">
              <a
                class="nav-link"
                id="nav-blog"
                href="https://carolinadoartero.herokuapp.com/blog"
                >blog</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAVBAR -->
    <main class="container contenedor-body" style="margin-top: 5%">
      <!-- BODY -->

<h2 class="subtitulo-formacion mb-4 mt-4">el taller</h2>

<div class="row">
    <div class="col-md-8">
        <p>
            Espacio de docencia y creación organizado y dirigido por Carolina Doartero desde 1987. <br>
            Con 30 años de actividad, en el taller se han iniciado niñas y jóvenes en la danza y los adultos han encontrado un lugar para el desarrollo personal y el auto conocimiento a través de las diferentes propuestas de Trabajo Corporal, Entrenamientos de energía y Lenguajes Simbólicos. <br>
            Este espacio ha sido punto de encuentro, intercambio y experimentación entre artistas de varias disciplinas. <br>
            <br>
            <span class="texto-naranja"><b>Clases, talleres, seminarios:</b></span>
            <br>
            <p class="mb-2"><a class="link-obras" href="#danza">Danza Experimental - Danza Teatro</a></p>
            <p class="mb-2"><a class="link-obras" href="#yoga">Yoga Dinámico</a></p>
            <p class="mb-2"><a class="link-obras" href="#espacio">Espacio de Meditación</a></p>
            <p class="mb-2"><a class="link-obras" href="#taichi">Tai Chi</a></p>
            <p class="mb-2"><a class="link-obras" href="#pilates">Pilates + yoga</a></p>
            <p class="mb-2"><a class="link-obras" href="#trabajo">Trabajo Corporal Consciente</a></p>
            <p class="mb-2"><a class="link-obras" href="#expresion">Expresión Primitiva</a></p>
            <p class="mb-2"><a class="link-obras" href="#circulo">Círculo de Mujeres en Luna Llena</a></p>
            <p class="mb-2"><a class="link-obras" href="#reiki">Reiki</a></p>
            <p class="mb-3"><a class="link-obras" href="/astrologia">Astrología y Tarot</a></p>
            Las clases son personalizadas, individuales o en grupos reducidos.</p>
    </div>

    <div class="col-md-4">
        <img src="../../imagenes/taller-logo.png" class="w-100" style="border-radius: 100%;" alt="">
    </div>
</div>

<hr>

<div class="mt-5" id="danza">
    <h4 class="subtitulo mb-5 mt-3"><b>Danza Experimental - Danza Teatro</b></h4>
    <p>
        En este espacio se facilita el diálogo con los propios límites en relación a las habilidades técnicas y a los recursos expresivos. <br>
        Se aborda el trabajo desde entrenamientos psicofísicos que amplían la percepción, nutren el imaginario y posibilitan entrar en estados en los que se enriquece el lenguaje de movimiento, la propia danza.<br>
        Se entrenan antiguas prácticas de origen taoísta, Yoga, elementos del método Feldenkrais, Eutonía y otros específicos de la Danza Contemporánea.<br>
        En la segunda parte de cada encuentro se le da espacio a la experimentación para ir más allá de los patrones habituales de movimiento.<br>
        Se profundizan los modos de organización del movimiento, la emoción, la gestualidad y el sonido como una unidad. Esa unidad es el eje de un lenguaje corporal personal y único de cada participante.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller01.jpg"  alt="">
    </div> 
</div> 
<br>
<hr>
<br>
<div class="my-3" id="yoga">
    <h4 class="subtitulo mb-5 mt-3"><b>Yoga Dinámico</b></h4>
    <p>
        La palabra Yoga significa Unión y se refiere a la integración de la persona en sus niveles físico, emocional, mental y espiritual. <br>
        En estas clases se organiza la práctica de una manera orgánica, enfatizando algunas posturas, estiramientos o equilibrios. <br>
        Esta modalidad de trabajo sigue la dinámica del Ashtanga Vinyasa en la que las posturas se van sucediendo unas a otras ligándose con saludos al sol. <br>
        En algunas clases se trabaja con la vibración de la voz a través del canto de mantras. <br>
        Todo el desarrollo de la clase parte de la interiorización y concentración. <br>
        La práctica termina con unos minutos de meditación. <br>
        El fin último del yoga es el aquietamiento de la mente.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller02.jpg"  alt="">
    </div> 
</div>
<br>
<hr>
<br>
<div class="my-3" id="espacio">
    <h4 class="subtitulo mb-5 mt-3"><b>Espacio de Meditación</b></h4>
    <p>
        La meditación une lo que estaba separado, nos conecta con el aquí y ahora y promueve un sutil equilibrio de opuestos. <br>
        Meditar es presenciar, un estado simple y sin embargo profundo de observación y aceptación de nosotros mismos, tal como somos. <br>
        Mediante la práctica de la Meditación, el cuerpo se relaja, la mente se serena y las emociones entran en reposo. Poco a poco se va abriendo un espacio interior desde el cuál surge un pensamiento más claro y un funcionamiento más armónico e integrado. <br>
        La experiencia en grupo ayuda a centrarse y alinearse y hace mucho más fácil la práctica, especialmente a los que se inician. <br>
        Encuentros de 1 hora en los que se experimentan técnicas de meditación provenientes de diferentes tradiciones para que cada uno encuentre la que le resulta más afín. <br>
        Son bienvenidas personas con y sin experiencia.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller03.jpg"  alt="">
    </div> 
</div>
<br>
<hr>
<br>
<div class="my-3" id="taichi">
    <h4 class="subtitulo mb-5 mt-3"><b>Tai Chi</b></h4>
    <p>
        El Tai Chi es un conjunto de prácticas milenarias de origen taoísta para la salud y la longevidad. Se basa en la integración del ser humano con la naturaleza. <br>
        Es considerado una medicina natural ya que promueve el equilibrio cuerpo -mente y la serenidad de espíritu. <br>
        A través de movimientos suaves y circulares, se desbloquean las articulaciones y meridianos, la energía fluye libremente por el organismo generando mayor vitalidad. <br>
        Las clases terminan con unos minutos de sentar en la calma o Tao In.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller04.jpg"  alt="">
    </div> 
</div>
<br>
<hr>
<br>
<div class="my-3" id="pilates">
    <h4 class="subtitulo mb-5 mt-3"><b>Pilates + Yoga</b></h4>
    <p>
        Método creado por Joseph Pilates en Alemania a principios del siglo XX. <br>
        Es un sistema de ejercicios de estiramiento, fortalecimiento y tonificación muscular que mejora la postura y aporta flexibilidad y equilibrio. Se inscribe dentro de los sistemas de integración Mente y Cuerpo. <br>
        A diferencia de otros sistemas de fortalecimiento muscular que trabajan en músculos aislados y cada zona corporal por separado, en este método se trata el cuerpo como un todo integrado. <br>
        En cada clase se trabaja todo el plan adaptando los ejercicios a las posibilidades de cada persona. Hay versiones principiantes, intermedias y avanzadas de cada uno. <br>
        La clase termina con posturas de yoga y una relajación guiada.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller05.jpg"  alt="">
    </div> 
</div>
<br>
<hr>
<br>
<div class="my-3" id="trabajo">
    <h4 class="subtitulo mb-5 mt-3"><b>Trabajo Corporal Consciente</b></h4>
    <p>
        Espacio para desarrollar la conciencia corporal y enriquecer el lenguaje de movimiento. <br>
        Propuesta que parte de una visión holística de la relación entre cuerpo, mente y emociones, indivisible y única en cada persona. Cada semana se aborda el trabajo desde disciplinas como Tai Chi, Hatha Yoga, Sensopercepción, elementos del Método Feldenkrais y Expresión Corporal. Se trabaja sobre la respiración, la alineación del esqueleto, el uso adecuado de la energía, el reconocimiento de las calidades de movimiento y las variaciones en el tono muscular. <br>
        No es necesario tener experiencia en prácticas corporales.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller06.jpg"  alt="">
    </div> 
</div>
<br>
<hr>
<br>
<div class="my-3" id="expresion">
    <h4 class="subtitulo mb-5 mt-3"><b>Expresión Primitiva</b></h4>
    <p>
        Abordaje inspirado en la visión del maestro venezolano Víctor Fuenmayor Ruiz. <br>
        Todo se conoce a través del cuerpo, punto de emisión y recepción de todos los lenguajes. <br>
        Se vivencia el cuerpo individual y el grupal promoviendo la desinhibición y el bienestar. <br>
        Es un espacio para reconectar con las raíces, reconociendo nuestra trama intercultural a través del ritmo, la danza y el despliegue de la creatividad. <br>
        Experiencias de conexión profunda, comunicación y reflexión. <br>
        Apertura a todos los lenguajes expresivos.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller07.jpg"  alt="">
    </div> 
</div>
<br>
<hr>
<br>
<div class="my-3" id="circulo">
    <h4 class="subtitulo mb-5 mt-3"><b>Círculo de Mujeres en Luna Llena</b></h4>
    <p>
        Nos reunimos en círculo cada Luna Llena, resonando con el inconsciente colectivo femenino y milenario. <br>
        Es en ese fluir circular donde alimentamos y fortalecemos cualidades como la intuición, la comprensión, la paciencia, la contención, la creatividad y tantos otros dones. <br>
        En cada encuentro compartimos: <br>
        la palabra, el silencio, entrenamientos de energía, danza, poesía, meditación, astrologia y tarot. <br>
        Todas bienvenidas.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller08.jpg"  alt="">
    </div> 
</div>
<br>
<hr>
<br>
<div class="mt-3 mb-5" id="reiki">
    <h4 class="subtitulo mb-5 mt-3"><b>Reiki</b></h4>
    <p>
        Sesiones e iniciaciones en los tres niveles. <br>
        Reiki es un sistema de sanación natural, una forma de canalizar energía a través de las manos. Su nombre viene de dos palabras japonesas, Rei que significa universal, y Ki que significa energía de la vida. Reiki es un proceso de encuentro entre esas dos energías. A través de las alineaciones de Reiki, podemos establecer conexión directa con esa energía sanadora. <br>
        Cuando hacemos uso de la energía Reiki estamos aplicando energía-luz, tratando de recuperar y mantener la salud física, mental, emocional y espiritual. No sustituye a la medicina, sino que la complementa o actúa preventivamente. <br>
        Nos ayuda a reducir el dolor, incrementar la energía, propiciar una profunda relajación y un estado general de bienestar.
    </p>
    <div class="text-center mt-5 mb-3">
        <img class="centrar-img redondeo-img" src="../../imagenes/taller/taller09.jpg"  alt="">
    </div> 
</div>

      <!-- BODY -->
    </main>
    <!-- FOOTER -->

    <div class="b-example-divider mt-auto"></div>
    <div class="">
      <footer class="py-4 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <span class="nav-link footer-contacto px-2 text-muted"
              >Contacto:</span
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.facebook.com/eltallercarolinadoartero"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-facebook redes-sociales-buttons facebook-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.instagram.com/carolinadoartero/"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-instagram redes-sociales-buttons instagram-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.youtube.com/channel/UCxVxv0CAZd-om2yojMqJApA"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-youtube redes-sociales-buttons twitter-button"
              ></i
            ></a>
          </li>
          <!-- <li class="nav-item"><a href="http://carolinadoartero.blogspot.com/" target="_blank" class="nav-link px-2 text-muted"><i class="fab fa-blogger redes-sociales-buttons blogger-button"></i></a></li> -->
          <li class="nav-item">
            <a
              href="https://api.whatsapp.com/send/?phone=5491161434888&text=Hola+Carolina+vengo+de+tu+pagina+web&app_absent=0"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-whatsapp-square redes-sociales-buttons whatsapp-button"
              ></i
            ></a>
          </li>
        </ul>
        <p class="text-center text-muted d">© 2021 Carolina Doartero</p>
      </footer>
    </div>

    <!-- FOOTER -->
  </body>
</html>
