<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="titulo-head">Carolina Doartero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/imagenes/logo-astrologia.png" />
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- FUENTE -->
    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWESOME -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../plantillas/main.css" />
    <link rel="stylesheet" href="main.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand me-5" href="#">Carolina Doartero</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-inicio" href="../inicio/index.html"">inicio</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link active" id="nav-formacion" href="#"
                >formación</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-danza" href="../danza/index.html"">danza</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-poesia" href="../poesia/index.html"">poesía</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-docencia" href="../docencia/index.html""
                >docencia</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-taller" href="../el-taller/index.html""
                >el taller</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-astrologia" href="../astrologia/index.html""
                >astrología y tarot</a
              >
            </li>
            <li class="nav-item ms-2">
              <a
                class="nav-link"
                id="nav-blog"
                href="https://carolinadoartero.herokuapp.com/blog"
                >blog</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAVBAR -->
    <main class="container contenedor-body" style="margin-top: 5%">
      <!-- BODY -->

      <div class="mt-4">
        <div class="row">
          <div class="col-md-9">
            <h2 class="subtitulo-formacion ms-3 mb-4">formación</h2>
            <p class="ms-3 margen-texto">

              <span class="d-block">Bailarina, coreógrafa, poeta, astróloga.</span>
        <span class="d-block">Instructora de Yoga - Maestra de Reiki.</span>
        <span class="d-block"
          >Desde hace más de treinta años se dedica a la docencia e
          investigación en técnicas y lenguajes Corporales y a la integración de
          lenguajes artísticos.</span
        >
        <span class="d-block"
          >Nació en Laprida provincia de BsAs en 1965. Vive actualmente en
          Buenos Aires.</span
        >
      </p>
      <p class="ms-3">
        Desde pequeña estudia piano y artes plásticas. Descubre tempranamente
        una innata inclinación hacia la danza y la poesía.
      </p>
      <ul class="margen-texto">
        <li class="mb-2">
          <span
            >Se inicia en Danza Clásica con la profesora María Alejandra
            casemayor (1979).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Perfeccionamientos en el Instituto Superior de Arte del Teatro
            Colón de Buenos Aires (1982,1983). Fueron sus maestros: María Luisa
            Lemos, Aída Amicón, Ethel Lynch y Aída Aizemberg entre otros.</span
          >
        </li>
        <li class="mb-2">
          <span
            >Estudia Danza Clásica con Peter Basán, Modern Jazz en la escuela de
            Noemí Cohelo y Rodolfo Olguín y Danza Contemporánea con Roxana
            Grinstein (1984).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Entra por selección al Taller de Danza del Teatro Municipal General
            San Martín de Buenos Aires (1985). Fueron sus maestros Marta Pérez
            Catán, Loreley Postolovsky, Ana María Stekelman, Giancarlo Bellini.
            Ana Itelman, Graciela Concado, Alejandro Cervera, Héctor Louzeau y
            Ricardo Rivas.</span
          >
        </li>
        <li class="mb-2">
          <span
            >Formación como Multiplicadora de Expresión Corporal Danza en la
            escuela de Patricia Stokoe (1991, 1992). Fueron sus profesores
            Patricia Stokoe, Déborah Kalmar, Elena Duarte, Carlos Fradkin y Olga
            Nicosia.</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seminarios y talleres de Expresión Vocal y Corporal africana con Ba
            Mamour, músico y bailarín senegalés. Música Vocal y Danzas de la
            India, con Mabel Dai Chee Chang, Carolina Chrem y Geraldine Seff.
            Danzas afrocubanas en sus dos viajes a Cuba (1996, 1999).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seminario Internacional de Danza Contemporánea, con maestros del
            American Dance Festival Douglas Nielsen, Sean Curran y Mark Haim.
            Beca Antorchas (1998).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seminarios de Experimentación Escénica Voz y Movimiento dictados
            por Mabel Dai Chee Chang e Investigación del Movimiento con Melanie
            Alfie (1999).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Formación en canto (desde 2000). Fueron sus maestros Marcelo
            Galante, Fabián Ribalta, Cristina Pérsico, Antonio Seoane, Silvina
            Sznajder Carolina Valcarcel y actualmente Pepa Vivanco.</span
          >
        </li>
        <li class="mb-2">
          <span
            >Perfeccionamiento en danza: Fundamentación Teórica con Susana
            Tambutti, Análisis y Notación del movimiento con Vera Wilner,
            Técnica de la Danza Clásica con Luis Baldassarre y Composición
            Instantánea con Fabiana Capriotti. Beca Antorchas (2003,
            2004).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seminario Kosmos in Movement, Bolivia. Convivencia entrenamiento y
            creación entre artistas de Chile, Brasil y Argentina. Teatro
            Físico/Danza Experimental con Elías Cohen, Entrenamiento Vocal y
            "Solo Performance” con Se Rok Park (2008).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Viaje Sadhana India, organizado por el actor indio Manu Martin
            Challissery un viaje cultural y espiritual en el que se acerca a
            prácticas psicofísicas milenarias de aquel país (2009).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seminario de Método Suzuki y View Points dictado por el actor
            colombiano Ernesto Martínez Correa en el Celcit (2010).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Primer Encuentro Sudamericano de Danza y Política organizado por el
            Centro Cultural de la Cooperación. Seleccionada por COCOA
            (coreógrafos contemporáneos asociados) para representar a Buenos
            Aires. (2011).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seminario “El cuerpo musical” dictado por Jean Jacques Lemetre del
            Theatre du soleil (Francia), en el Centro de Experimentación del
            Teatro Colón de Buenos Aires (2013).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Taller de teatro dictado por Cristóbal Jodorowsky en Buenos Aires
            (2013).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seminario ”El actor y su metodología de trabajo” dictado por
            Claudio Navas Marchioni, Director de la Escuela de Artes Escénicas
            Artesanos de la Escena, Málaga, España (2013).</span
          >
        </li>
        <li class="mb-2">
          <span>
            Formación en métodos y técnicas de Trabajo Corporal y Entrenamientos
            de Energía como:
            <ul class="sub-lista mt-2">
              <li class="mb-2">
                <span>Contact- Improvisation, con Alma Falkenberg (1996).</span>
              </li>
              <li class="mb-2">
                <span
                  >Método Feldenkrais, con Graciela Orfeo, Roby Liaskovsky y
                  Vera Wilner (1997-1998-2000).</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Técnica Mathías Alexander, con Jack Nouril (1995- 1998) y
                  Marina Giancaspro (2012).</span
                >
              </li>
              <li class="mb-2">
                <span>Pilates, con Mariela Ruggieri (2008).</span>
              </li>
              <li class="mb-2">
                <span
                  >Tai Chi, con Daniel Brenner, Marcela Rodas, Celeste Giles y
                  Omar Cyrulnik (desde 1991).</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Yoga, estilos, Ashtanga, Kundalini, Iyengar y Hatha Yoga
                  Sivananda (desde 1993).</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Formación como Instructora de Yoga de Lonavla, reconocido por
                  la Univ de Pune India (2012).</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Retiros de Yoga en Nagarkot, Nepal con el maestro Rajan
                  Bastola y en Rishikesh India en el Anand Dham Ashram
                  (2018).</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Participación de la inauguración del Zen Life Ashram del
                  maestro krishna Kumar en Koylandi, Kerala, India (2018).</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Meditación: Tao In, Sistema Osho y Vippassana (desde
                  2000).</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Maestría en Reiki, Claudio Márquez (2006 BsAs) Esther López
                  (2014 Barcelona) y Carolina Valcarcel (2015 BsAs).</span
                >
              </li>
            </ul>
          </span>
        </li>
        <li class="mb-2">
          <span>
            Crecimiento y Desarrollo Personal:
            <ul class="sub-lista mt-2">
              <li class="mb-2">
                <span
                  >Convivencia Centro Anchimalén, Adriana Schnake, Chiloé, Chile
                  (2002)</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Retiros Meditación Vipassana, Dhamma Sukhada, Petión y
                  Brandsen Pcia BsAs (2006, 2014)</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Convivencia en Samana Wasi, Antón Ponce de León Paiva, Perú
                  (2008)</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Convivencia Espacio Krystal, Patricia García Higuera,
                  Tequisquiapan, México (2010)</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Jornadas de Decodificación Bioemocional -Humano Puente, Pablo
                  Almazan, Buenos Aires (2015)</span
                >
              </li>
              <li class="mb-2">
                <span
                  >Jornadas Programa PARA- Fundación Salud, Stella Maris Maruso,
                  Luis Guillón,Pcia BsAs (2015)</span
                >
              </li>
              <li class="mb-2">
                <span>Satsangs Prem Baba- Rishikesh, India (2018)</span>
              </li>
            </ul>
          </span>
        </li>
      </ul>

      <hr class="mt-5 mb-5" />
      <h4 class="subtitulo ms-3"><b>Becas y Premios</b></h4>
      <ul class="margen-texto">
        <li class="mb-2">
          <span
            >Becada por Patricia Stokoe para formarse como Multiplicadora de
            Expresión Corporal–Danza (1991, 1992).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Premio al "Joven destacado de la cultura" otorgado por la
            Municipalidad de Olavarría (1994).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Beca de la Fundación Antorchas para Seminario Internacional de
            Danza Contemporánea (1998).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Beca de Perfeccionamiento del CIEEDA - Centro de Investigación,
            Experimentación y Estudio de la danza Argentina (1999).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Beca de la Fundación Antorchas para Perfeccionamiento en Danza
            (2003, 2004).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Distinción de la Cámara de Senadores de la Provincia de BsAs como
            una de las Mujeres Innovadoras del año (2006).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Seleccionada por COCOA -coreógrafos contemporáneos asociados- para
            el Primer Encuentro Sudamericano de Danza y Política. Buenos Aires
            (2011).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Subsidio Prodanza por la obra La Floresta, otorgado por el Gobierno
            de la ciudad de Buenos Aires (2012).</span
          >
        </li>
      </ul>

      <hr class="mt-5 mb-5" />
      <h4 class="subtitulo ms-3"><b>Estudios Cursados</b></h4>
      <ul class="margen-texto">
        <li class="mb-2">
          <span>Bachiller Nacional. Colegio Nacional Laprida (1983).</span>
        </li>
        <li class="mb-2">
          <span
            >Primer año de Ciencias Políticas. Universidad del Salvador
            (1984).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Capacitación Docente Nivel II. Instituto Superior de Formación
            Docente N° 48 Cnel Suárez (1994).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Primer Año de Antropología Social. Universidad Nacional del Centro
            de la Pcia de BsAs (1998).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Formación en Astrología. Escuela Trenkehue Dir Jorge Bosia (2006 a
            2010).</span
          >
        </li>
        <li class="mb-2">
          <span
            >Instructora de Yoga de Lonavla. Filial argentina del Lonavla Yoga
            Institut, reconocido por la Univ de Pune India (2012).</span
          >
        </li>
        <li class="mb-2">
          <span>Formación en Tarot con Carmen Limousin (2014 y 2015).</span>
        </li>
      </ul>
            </p>
          </div>
          <div class="col-md-3 mb-3 text-end img-responsive">
            <img
              src="../../imagenes/formacion3/1.png"
              class="mb-3 imagen-lateral"
              style="width: 88%"
              alt=""
            />
            <img
              src="../../imagenes/formacion3/2.png"
              class="mb-3 imagen-lateral"
              style="width: 88%"
              alt=""
            />
            <img
              src="../../imagenes/formacion3/3.png"
              class="mb-3 imagen-lateral"
              style="width: 88%"
              alt=""
            />
            <img
              src="../../imagenes/formacion3/4.png"
              class="mb-3 imagen-lateral"
              style="width: 88%"
              alt=""
            />
            <img
              src="../../imagenes/formacion3/5.png"
              class="mb-3 imagen-lateral"
              style="width: 88%"
              alt=""
            />
          </div>
        </div>
      </div>

      <script>
        const navLink = document.querySelector("#nav-formacion");
        navLink.classList.add("active");
      </script>

      <!-- BODY -->
    </main>
    <!-- FOOTER -->

    <div class="b-example-divider mt-auto"></div>
    <div class="">
      <footer class="py-4 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <span class="nav-link footer-contacto px-2 text-muted"
              >Contacto:</span
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.facebook.com/eltallercarolinadoartero"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-facebook redes-sociales-buttons facebook-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.instagram.com/carolinadoartero/"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-instagram redes-sociales-buttons instagram-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.youtube.com/channel/UCxVxv0CAZd-om2yojMqJApA"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-youtube redes-sociales-buttons twitter-button"
              ></i
            ></a>
          </li>
          <!-- <li class="nav-item"><a href="http://carolinadoartero.blogspot.com/" target="_blank" class="nav-link px-2 text-muted"><i class="fab fa-blogger redes-sociales-buttons blogger-button"></i></a></li> -->
          <li class="nav-item">
            <a
              href="https://api.whatsapp.com/send/?phone=5491161434888&text=Hola+Carolina+vengo+de+tu+pagina+web&app_absent=0"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-whatsapp-square redes-sociales-buttons whatsapp-button"
              ></i
            ></a>
          </li>
        </ul>
        <p class="text-center text-muted d">© 2021 Carolina Doartero</p>
      </footer>
    </div>

    <!-- FOOTER -->
  </body>
</html>
