<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="titulo-head">Carolina Doartero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/imagenes/logo-astrologia.png" />
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- FUENTE -->
    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWESOME -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../plantillas/main.css" />
    <link rel="stylesheet" href="main.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- NAVBAR -->

    <nav
      id="navbar"
      class="navbar navbar-expand-lg navbar-dark bg-light fixed-top"
    >
      <div class="container-fluid">
        <a class="navbar-brand me-5" href="#">Carolina Doartero</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-inicio" href="../inicio/index.html"">inicio</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-formacion" href="../formacion/index.html""
                >formación</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-danza" href="../danza/index.html"">danza</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link active" id="nav-poesia" href="#">poesía</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-docencia" href="../docencia/index.html""
                >docencia</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-taller" href="../el-taller/index.html""
                >el taller</a
              >
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link" id="nav-astrologia" href="../astrologia/index.html""
                >astrología y tarot</a
              >
            </li>
            <li class="nav-item ms-2">
              <a
                class="nav-link"
                id="nav-blog"
                href="https://carolinadoartero.herokuapp.com/blog"
                >blog</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAVBAR -->
    <main class="container contenedor-body" style="margin-top: 5%">
      <!-- BODY -->

      <link rel="stylesheet" href="main.css" />

      <div class="fondo">
        <h2 class="subtitulo-formacion mt-4" id="titulo-poesia">poesía</h2>

        <p class="mt-5 mb-5">
          Participó de talleres literarios coordinados por Virginia Crespo,
          Guillermo Del Zotto y Josefina Trebucq. <br />
          <br />
          Trabajó en procesos de seguimiento de obra con los poetas Arturo
          Carrera, Victoria Schcolnik y Silvana Franzetti. <br />
          <br />
          En 2006 y 2007 junto al músico Abel Gorosito presentan <b>Latido</b>,
          poesías y canciones en movimiento, con poemas de sus libros
          <a class="link-obras texto-naranja" href="#con-los-pies-desnudos"
            ><b>Con los pies desnudos</b></a
          >,
          <a class="link-obras texto-naranja" href="#hidra"
            ><b>Hidra y Sirena</b></a
          >
          y
          <a class="link-obras texto-naranja" href="#fermento"
            ><b>Fermento</b></a
          >. 
          <br />
          En 2008, junto a Marisol Farana y Daniela Espinosa crean
          <a class="link-obras texto-naranja" href="#fermento"
            ><b>Fermento</b></a
          >
          <b>Poesía</b> + <b>Fotografía x Mujeres</b><br />
          <br />
          En 2014 junto a Fermín Acosta dirige el video danza <b>Monarcas</b>,
          trabajo interdisciplinario que reúne cine, poesía y danza,
          seleccionado para los eventos internacionales Corporalidad Expandida y
          Festival internacional de Video danza de COCOA, Coreógrafos
          Contemporáneos Asociados. <br />
          <br />
          En noviembre de 2018 junto a la poeta Eleonora Requena presentan el
          libro
          <b>Beber de la sombra</b> del poeta venezolano Víctor Fuenmayor Ruiz
          en las Jornadas Internacionales del Ritmo en el Arte JIRA Centro
          cultural Recoleta. 
          <br />
          <br />
          En 2017 y 2018, escribió las contratapas de los libros
          <b>Desnudos</b> de Carlos Cúccaro y <b>Umbral</b> de Sofía Blando. 
          <br />
          <br />
          En febrero de 2019 se estrena <b>como sal al sol</b>, poesías y
          canciones en danza. Propuesta creada y dirigida por Carolina Doartero
          de integración de lenguajes: poesía, música y movimiento. <br />
          Junto al músico Andrés Hojman y músicos invitados plantean un
          recorrido por canciones populares de diferentes culturas: mantras,
          klesmer, tango, bolero, fado y composiciones propias. <br />
          Las canciones se entraman con poemas de sus cinco libros.  El hilo
          conductor; “es rizoma o sal al sol, el amor, latido, retorno cantado,
          único espasmo”. <br />

          <a
            class="link-obras"
            href="http://www.facebook.com/comosalalsol"
            target="”_blank”"
            >www.facebook.com/comosalalsol</a
          >
          <br />
          <a
            class="link-obras"
            href="http://www.cafevinilo.com.ar/event/poesias-y-canciones"
            target="”_blank”"
            >www.cafevinilo.com.ar/event/poesias-y-canciones</a
          ><br />
          <a
            class="link-obras"
            href="http://www.hastatrilce.com.ar/plays/view/500/name:Poesias-y-Canciones"
            target="”_blank”"
            >www.hastatrilce.com.ar/plays/view/500/name:Poesias-y-Canciones</a
          ><br />
          <a
            class="link-obras"
            href="http://www.pistaurbana.com/espectaculo/como-sal-al-sol-poesias-y-canciones-en-danza/"
            target="”_blank”"
            >www.pistaurbana.com/espectaculo/como-sal-al-sol-poesias-y-canciones-en-danza/</a
          >
          <br />

          <br />

          En abril de 2019 junto a la poeta Anahí Flores lee sus poemas en
          “Calíope y Euterpe” ciclo de poesías íntimas y música antigua. <br />
          <br />
          Sus libros
          <a class="link-obras texto-naranja" href="#con-los-pies-desnudos"
            ><b>Con los pies desnudos</b></a
          >
          Dunken, 2001,
          <a class="link-obras texto-naranja" href="#hidra"
            ><b>Hidra y Sirena</b></a
          >
          Dunken, 2005,
          <a class="link-obras texto-naranja" href="#fermento"
            ><b>Fermento</b></a
          >
          De los cuatro vientos, 2008, fueron presentados en la Feria del Libro
          de Buenos Aires y en espacios culturales del interior a través de
          performances que integran poesía, música, plástica, danza y
          fotografía. Su libro
          <a class="link-obras texto-naranja" href="#"><b>La fiereza</b></a>
          La luna que, 2012 fue presentado en la Sala Augusto Cortázar de la
          Biblioteca Nacional. <br />
          <a class="link-obras texto-naranja" href="#"><b>Sibila</b></a>
          Ediciones en Danza, 2018, fue presentado en el Centro Cultural
          Recoleta y en espacios culturales del interior.

          <br />
          <br />

          <a
            class="link-obras"
            href="http://www.centroculturalrecoleta.org/agenda/sibila"
            target="”_blank”"
            >www.centroculturalrecoleta.org/agenda/sibila</a
          >
          <br />
          <br />

          Poemas publicados en Blogs literarios: <br />
          <br />
          Otra iglesia es imposible - Blog de Jorge Aulicino <br />
          <a
            class="link-obras"
            href="https://campodemaniobras.blogspot.com/2018/08/carolina-doartero-de-sibila.html"
            target="”_blank”"
            >En la casa de mis padres</a
          >
          <br />
          <br />

          Internatural - Blog de Edilberto González Trejo <br />
          <a
            class="link-obras"
            href="http://internatural.blogspot.com/2010/02/fermento-carolina-doartero.html"
            target="”_blank”"
            >Desiste de la dulzura</a
          >
          <br />
          <a
            class="link-obras"
            href="http://internatural.blogspot.com/2010/05/de-fermento-carolina-doartero.html"
            target="”_blank”"
            >Sitiada</a
          >
          <br />
          <a
            class="link-obras"
            href="http://internatural.blogspot.com/2010/02/de-fermento-2-carolina-doartero.html"
            target="”_blank”"
            >Ideograma</a
          >
          <br />
          <a
            class="link-obras"
            href="http://internatural.blogspot.com/2019/06/cuatro-poemas-de-sibila-carolina.html"
            target="”_blank”"
            >Poemas de Sibila</a
          >
          <br />
          <br />

          Letralia tierra de letras, la revista de los escritores de habla
          hispana.
          <br />
          <a
            class="link-obras"
            href="https://letralia.com/letras/poesialetralia/2019/05/31/sibila-de-carolina-doartero/"
            target="”_blank”"
            >Poemas de Sibila</a
          >
          <br />
          <a
            class="link-obras"
            href="https://letralia.com/author/carolinadoartero/"
            target="”_blank”"
            >Autora Carolina Doartero</a
          >
          <br />
        </p>

        <!-- <hr>

<h2 class="subtitulo-formacion mt-4 mb-4 text-center">Poesías</h2>

<hr> -->

        <!-- CON LOS PIES DESNUDOS -->
        <div class="card border-0 mb-5" id="con-los-pies-desnudos">
          <img
            src="../../imagenes/poesia/con-los-pies-desnudos/1.png"
            class="img-fluid margen-img-titulos mb-2 mt-5 w-25 titulos-responsive"
            alt=""
          />
          <h4 class="subtitulos-responsive" style="color: rgb(130, 41, 9); margin-left: 7.8%">
            <b>C U E R P O E S Í A</b>
          </h4>
          <div class="row mb-4 margin-responsive">
            <div class="col-md-8 mt-3 ps-4">
              <div class="card-body me-3 ms-4">
                <div class="contenedor-resenas">
                  <p class="">
                    Ensamble perfecto de imágenes sonoras que buscan en cada
                    rincón del cuerpo el insondable misterio de uno mismo.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"
                      ><b>Virginia Crespo de Figalo</b></span
                    >
                  </p>

                  <hr class="separador-naranja" />
                  <br />

                  <p class="">
                    No por ser los primeros, son inseguros estos pasos que
                    Carolina Doartero da sobre la poesía. <br />
                    Como se ensaya una danza, hasta que un día estalla, así ella
                    preparó su cuerpoesía. Ante fue pájara, fuego, un animal
                    innombrable. Juntó hoja seca por hoja seca hasta armar esta
                    pira. La que despertó el dragón. <br />
                    Entonces, ella descalzó sus pies para convencernos de que
                    <b><i>“lo único cierto es la desnudez”</i></b
                    >.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"
                      ><b>Guillermo Del Zotto</b></span
                    >
                  </p>

                  <hr class="separador-naranja" />
                  <br />

                  <p>
                    Carolina juega con las palabras
                    <b
                      ><i
                        >“uno está allí como un piano que toca solo, un maniquí
                        en un cine o un par de botas al lado del camino”</i
                      ></b
                    >
                    y nos quita de un plumazo años y solemnidades de encima.
                    Baila
                    <b
                      ><i
                        >“para pisar la línea y tirar los huesos del otro
                        lado”</i
                      ></b
                    >
                    y nos permite vislumbrar por un instante al menos esas
                    épocas en las que la poesía se acompañaba siempre de músicas
                    y danzas; los ritos estaban vivos y el hombre se sentía muy
                    cerca de sí mismo. O se deja estar
                    <b><i>“aspirando hormigas en los rincones”</i></b> para que
                    no vayamos a olvidarnos de que, como diría Irene Gruss, la
                    poesía puede ser también <b><i>“un aullido delicado”</i></b
                    >.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"><b>Josefina Trebuq</b></span>
                  </p>
                  <br />
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center container-w100-responsive">
              <img
                src="../../imagenes/poesia/01.png"
                class="img-fluid img-derecha w-75 mb-3 img-agrandar-hover img-w100-responsive"
                alt=""
              />
              <img
                src="../../imagenes/poesia/02.png"
                class="img-fluid img-derecha w-75 img-agrandar-hover img-w100-responsive"
                alt=""
              />
            </div>
          </div>
          <div class="mt-3 mb-4 ms-5 me-5 text-center container-w100-responsive">
            <img
              src="../../imagenes/poesia/con-los-pies-desnudos/5.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive d-none-responsive"
              style="width: 19%"
              alt=""
            />
            <img
              src="../../imagenes/poesia/con-los-pies-desnudos/6.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 19%"
              alt=""
            />
            <img
              src="../../imagenes/poesia/con-los-pies-desnudos/7.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive d-none-responsive"
              style="width: 19%"
              alt=""
            />
            <img
              src="../../imagenes/poesia/con-los-pies-desnudos/8.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 19%"
              alt=""
            />
            <img
              src="../../imagenes/poesia/con-los-pies-desnudos/9.jpg"
              class="img-agrandar-hover img-w100-responsive"
              style="width: 19%"
              alt=""
            />
          </div>
          <div class="text-end div-flecha mb-4">
            <a style="text-decoration: none; color: black" href="#titulo-poesia"
              >volver
              <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <!-- CON LOS PIES DESNUDOS -->

        <!-- HIDRA Y SIRENA -->
        <div class="card border-0 mb-5" id="hidra">
          <img
            src="../../imagenes/poesia/hidra/1.png"
            class="img-fluid w-25 margen-img-titulos mb-2 mt-5 titulos-responsive"
            alt=""
          />
          <div class="row mb-4">
            <div class="col-md-8 mt-3 ps-4">
              <div class="card-body me-3 ms-4">
                <div class="contenedor-resenas">
                  <p class="">
                    Hidra y Sirena son míticos seres de agua. La Hidra luchó
                    contra Hércules en al pantano; la Sirena, seducía a los
                    navegantes. Estas polaridades marcan la dialéctica de lo
                    femenino. En poesías, prosa poética y relatos aparecen luces
                    y sombras, dudas y certezas, placer y dolor, ternura y
                    ferocidad. Cada texto y cada ilustración son el intento de
                    un abrazo integrador que busca rozar la unidad a través de
                    toda manifestación de lo dual.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"
                      ><b>Revista Ñ, 5 junio 2005</b></span
                    >
                  </p>

                  <hr class="separador-naranja" />
                  <br />

                  <h4 class="subtitulo-libro">
                    Expresividad que desgarra y salva
                  </h4>
                  <p class="mt-4">
                    No es muy frecuente encontrarnos con obras literarias que
                    propongan tan saludable retorno a las fuentes de inocencia
                    primordial de la palabra, esa palabra que es todo pasión, a
                    esa palabra que es noble atavío para el ajedrez verbal que
                    entablan la autora y el lector, hasta arribar al
                    descubrimiento, siempre límpido y -a la vez- siempre mágico,
                    de la belleza. Más allá de las formas, de lo poético o de lo
                    narrativo, el denominador común de Hidra y Sirena, es la
                    conjunción extrema de la expresividad en una dirección
                    interior que desgarra y salva. La lectura de este libro ha
                    poblado mi silencio de imágenes. Ha cumplido su destino
                    circular de desesperación y ensueño.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"><b>Carlos Cúccaro</b></span>
                  </p>

                  <hr class="separador-naranja" />
                  <br />

                  <p class="mt-4">
                    Los textos de Carolina y los dibujos de Malena conviven
                    dentro de un mismo refugio e invitan a compartir la
                    intimidad de esta unión tan profunda como valiente.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"><b>Daniel Fitte</b></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <img
                src="../../imagenes/poesia/hidra/3.jpg"
                class="img-fluid img-derecha w-75 mb-3 img-agrandar-hover img-w100-responsive"
                alt=""
              />
              <img
                src="../../imagenes/poesia/hidra/2.jpg"
                class="img-fluid img-derecha w-75 img-agrandar-hover img-w100-responsive"
                alt=""
              />
            </div>
          </div>
          <div class="mt-3 mb-3 ms-3 me-3 text-center container-w100-responsive">
            <img
              src="../../imagenes/poesia/hidra/3.png"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 23.5%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/hidra/4.png"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 23.5%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/hidra/5.png"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 23.5%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/hidra/6.png"
              class="img-agrandar-hover img-w100-responsive"
              style="width: 23.5%; background-color: white"
              alt=""
            />
            <p
              class="text-start mt-3 ms-4 subtitulo-libro"
              style="font-size: 20px"
            >
              Ilustraciones <b>Malena Lago</b>
            </p>
          </div>
          <div class="text-end div-flecha mb-4">
            <a style="text-decoration: none; color: black" href="#titulo-poesia"
              >volver
              <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <!-- HIDRA Y SIRENA -->

        <!-- FERMENTO -->
        <div class="card border-0 mb-5" id="fermento">
          <img
            src="../../imagenes/poesia/fermento/1.png"
            class="img-fluid margen-img-titulos mb-2 mt-5 titulos-responsive"
            style="width: 17%"
            alt=""
          />
          <div class="row mb-4">
            <div class="col-md-8 mt-3 ps-4">
              <div class="card-body me-3 ms-4">
                <div class="contenedor-resenas">
                  <p class="">
                    Palabra despojada, que emana de la herida abierta que guía y
                    educa nuestros sentimientos, que amplifica sensaciones y las
                    deja recorrer por el ser. Poesía que nos posee es lo que nos
                    ofrece este maravilloso libro.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"
                      ><b>Revista Ñ, 19 de julio 2008</b></span
                    >
                  </p>
                  <hr class="separador-naranja" />
                  <br />

                  <h4 class="subtitulo-libro">En pocas palabras</h4>
                  <p class="mt-4">
                    Tras Con los pies desnudos (2001) e Hidra y sirena (2005),
                    la bailarina y poeta Carolina Doartero publica este libro de
                    poemas mínimos sobre la geometría de los cuerpos y los
                    sueños. Una búsqueda de las mieles del fermento.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"
                      ><b>Revista Ñ, 26 de julio de 2008</b></span
                    >
                  </p>
                  <hr class="separador-naranja" />
                  <br />

                  <h4 class="subtitulo-libro">
                    El mágico arte de nombrar
                    <span class="ms-3" style="font-size: 15px"
                      ><a class="link-obras" href="/poesia/nota-hidra"
                        >Ver más</a
                      ></span
                    >
                  </h4>
                  <p class="mt-4">
                    Cuando el acto de nombrar se vuelve mágico y bello estamos
                    ante la verdadera poesía. Al igual que en "Hidra y Sirena",
                    el anterior trabajo de Carolina Doartero, la gramática
                    danza. "Fermento", su nuevo poemario, es un libro hecho de
                    territorios superpuestos
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"><b>Carlos Cúccaro</b></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <img
                src="../../imagenes/poesia/fermento/2.jpg"
                class="img-fluid img-derecha w-75 mb-3 img-agrandar-hover img-w100-responsive"
                alt=""
              />
              <img
                src="../../imagenes/poesia/fermento/10.jpg"
                class="img-fluid img-derecha w-75 img-agrandar-hover img-w100-responsive"
                alt=""
              />
            </div>
          </div>
          <div class="mt-3 mb-3 ms-3 me-3 text-center container-w100-responsive">
            <img
              src="../../imagenes/poesia/fermento/5.jpg"
              class="me-3 img-agrandar-hover img-w100-responsive"
              style="width: 14.7%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/fermento/4.jpg"
              class="me-3 img-agrandar-hover img-w100-responsive"
              style="width: 22.4%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/fermento/6.jpg"
              class="me-3 img-agrandar-hover img-w100-responsive"
              style="width: 15%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/fermento/7.jpg"
              class="me-3 img-agrandar-hover img-w100-responsive"
              style="width: 24.2%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/fermento/8.jpg"
              class="img-agrandar-hover img-w100-responsive"
              style="width: 13.9%; background-color: white"
              alt=""
            />
            <p
              class="text-start mt-3 ms-4 subtitulo-libro"
              style="font-size: 20px"
            >
              Fotografía <b>Marisol Farana</b>
            </p>
          </div>
          <div class="text-end div-flecha mb-4">
            <a style="text-decoration: none; color: black" href="#titulo-poesia"
              >volver
              <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <!-- FERMENTO -->

        <!-- LA FIEREZA -->
        <div class="card border-0 mb-5" id="fiereza">
          <img
            src="../../imagenes/poesia/fiereza/1.png"
            class="img-fluid margen-img-titulos mb-2 mt-5 titulos-responsive"
            style="width: 23%"
            alt=""
          />
          <div class="row mb-4">
            <div class="col-md-8 mt-3 ps-4">
              <div class="card-body me-3 ms-4">
                <div class="contenedor-resenas">
                  <p class="">
                    Con pie firme, Carolina Doartero comparece en el sagrado
                    territorio de la poesía. <br />

                    Desde allí imprime rupturas donde aventurar la palabra
                    elegida tiene en La Fiereza autoridad para lo dicho. <br />

                    Expuesta a padecimiento y resurrección, traza improntas como
                    vértebras de su pasadizo notable. <br />

                    Entre la penumbra que fija ese destino marcado en la palma
                    de la mano, el punto de partida procura la intimidad del
                    susurro y la pasión de una voz en alto. <br />

                    El reto a duelo con sus temas, la veladura y la
                    transparencia desarropan señales, así el poema naturaliza la
                    orilla deseada para una nueva concepción del abordaje.
                    <br />

                    Entonces, recomienza lo que ha quedado huérfano con
                    pulsaciones de lúcida militancia en un idioma que ya le es
                    propio. <br />
                    <br />
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"><b>Roberto Glorioso</b></span>
                  </p>

                  <hr class="separador-naranja" />
                  <br />

                  <h4 class="subtitulo-libro">
                    La fuerza del desgarro sutil
                    <span class="ms-3" style="font-size: 15px"
                      ><a class="link-obras" href="/poesia/nota-hidra"
                        >Ver más</a
                      ></span
                    >
                  </h4>
                  <p class="mt-4">
                    En su cuarto poemario, según palabras del poeta Roberto
                    Glorioso, Carolina Doartero "recomienza lo que ha quedado
                    huérfano con pulsaciones de lúcida militancia en un idioma
                    que ya le es propio". Esta frase no sólo es certera por su
                    belleza, sino porque además despliega un mapa de lectura que
                    desde la contratapa predispone al lector de "La fiereza" a
                    una sorprendente continuidad de un estilo.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"
                      ><b>Guillermo Del Zotto</b></span
                    >
                  </p>
                  <hr class="separador-naranja" />
                  <br />
                  <h4 class="subtitulo-libro">
                    Presentación en la Biblioteca Nacional
                  </h4>
                  <p>
                    Se refirieron al libro los escritores María Inés Krimer,
                    Ricardo Rubio y Roberto Glorioso. <br />
                    Lectura de los poemas, María Pía Pillonetto. <br />
                    Sala Augusto Cortázar.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <img
                src="../../imagenes/poesia/fiereza/2.png"
                class="img-fluid img-derecha w-75 mb-3 img-agrandar-hover img-w100-responsive"
                alt=""
              />
              <img
                src="../../imagenes/poesia/fiereza/3.png"
                class="img-fluid img-derecha w-75 img-agrandar-hover img-w100-responsive"
                alt=""
              />
            </div>
          </div>
          <div class="mt-0 mb-4 ms-3 me-3 text-center container-w100-responsive">
            <img
              src="../../imagenes/poesia/fiereza/4.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/fiereza/5.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/fiereza/6.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/fiereza/7.jpg"
              class="img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
          </div>
          <div class="text-end div-flecha mb-4">
            <a style="text-decoration: none; color: black" href="#titulo-poesia"
              >volver
              <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <!-- LA FIEREZA -->

        <!-- SIBILA -->
        <div class="card border-0 mb-5" id="sibila">
          <img
            src="../../imagenes/poesia/sibila/1.png"
            class="img-fluid margen-img-titulos mb-2 mt-5 titulos-responsive"
            style="width: 15%"
            alt=""
          />
          <div class="row mb-4">
            <div class="col-md-8 mt-3 ps-4">
              <div class="card-body me-3 ms-4">
                <div class="contenedor-resenas">
                  <p class="">
                    Abrimos el libro de Carolina Doartero y vemos que está
                    dividido en dos secciones: la primera, “el fuego” y la
                    segunda, “el agua”. Fuego y agua: dos de los cuatro
                    elementos –livianos y pesados— que, según una doctrina de la
                    Antigüedad y la Edad Media, constituían, al combinarse entre
                    ellos en grados y proporciones diferentes, el origen de
                    todos los seres en el mundo. La tierra y el aire (que no
                    tienen secciones propias, pero se manifiestan internamente
                    en los poemas) completaban el milagroso cuarteto.
                    <br />
                    La base material de la vida y sus metamorfosis posibles por
                    medio del elemento ígneo; lo líquido y lo ardiente; lo que
                    fluye y lo que destruye pero también renueva: este es el
                    arco comprendido por los poemas del libro, que “viven entre
                    la materia y el espíritu”.
                    <br />

                    Cada una de las dos secciones se abre con un poema en el que
                    un personaje (similar a una sibila) hace pronunciamientos
                    con solemne tono profético. El hombre enjaulado, en el
                    primer poema, afirma sentencioso que “todo cambio en la
                    materia / empieza por el fuego”. Otra voz (¿del mismo hombre
                    en la jaula?), en el poema de apertura de la segunda
                    sección, enuncia que “El fundamento / de la vida / es el
                    agua”. <br />
                    Fuego y agua, dos elementos opuestos, aquí se vuelven
                    complementarios. Coincidentia oppositorum: ¿regirá este
                    principio todo el libro?, nos preguntamos. El epígrafe de la
                    colección, tomado de la “Oda a la Melancolía” (1819) del
                    poeta romántico John Keats, parece confirmarlo: “Ay, in the
                    very temple of Delight / Veil’d Melancholy has her sovran
                    shrine”. Deleite y melancolía como las dos fases de una
                    misma experiencia, que la poeta siente y advierte
                    subyacentes en la vida. Como el agua y el fuego, estos otros
                    dos elementos opuestos (pero, a la vez, paradójicamente
                    complementarios) habitan un mismo templo, como afirma Keats.
                  </p>
                  <p class="text-end">
                    <span class="texto-naranja"
                      ><b>Fragmento del prólogo de Fabián Iriarte</b></span
                    >
                  </p>
                  <hr class="separador-naranja" />
                  <br />
                  <h4 class="subtitulo-libro">
                    Presentación en el Centro Cultural Recoleta
                  </h4>
                  <p class="">
                    Se refirieron al libro los poetas Javier Cófreces, editor de
                    Ediciones en Danza, Fabián Iriarte, autor del prólogo,
                    Victoria Schcolnik y Eleonora Requena. <br />
                    Participaron el músico Claudio Pedreira y María Pía
                    Pillonetto en la lectura de poemas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <img
                src="../../imagenes/poesia/sibila/2.png"
                class="img-fluid img-derecha w-75 mb-3 img-agrandar-hover img-w100-responsive"
                alt=""
              />
              <img
                src="../../imagenes/poesia/sibila/8.png"
                class="img-fluid img-derecha w-75 img-agrandar-hover img-w100-responsive"
                alt=""
              />
            </div>
          </div>
          <div class="mt-0 mb-4 ms-3 me-3 text-center container-w100-responsive">
            <img
              src="../../imagenes/poesia/sibila/4.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/sibila/5.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/sibila/6.jpg"
              class="me-2 img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
            <img
              src="../../imagenes/poesia/sibila/7.jpg"
              class="img-agrandar-hover img-w100-responsive"
              style="width: 24%; background-color: white"
              alt=""
            />
          </div>
          <div class="text-end div-flecha mb-4">
            <a style="text-decoration: none; color: black" href="#titulo-poesia"
              >volver
              <i class="fa fa-arrow-up flecha-naranja" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <!-- SIBILA -->
      </div>

      <!-- BODY -->
    </main>
    <!-- FOOTER -->

    <div class="b-example-divider mt-auto"></div>
    <div class="">
      <footer class="py-4 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <span class="nav-link footer-contacto px-2 text-muted"
              >Contacto:</span
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.facebook.com/eltallercarolinadoartero"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-facebook redes-sociales-buttons facebook-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.instagram.com/carolinadoartero/"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-instagram redes-sociales-buttons instagram-button"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.youtube.com/channel/UCxVxv0CAZd-om2yojMqJApA"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-youtube redes-sociales-buttons twitter-button"
              ></i
            ></a>
          </li>
          <!-- <li class="nav-item"><a href="http://carolinadoartero.blogspot.com/" target="_blank" class="nav-link px-2 text-muted"><i class="fab fa-blogger redes-sociales-buttons blogger-button"></i></a></li> -->
          <li class="nav-item">
            <a
              href="https://api.whatsapp.com/send/?phone=5491161434888&text=Hola+Carolina+vengo+de+tu+pagina+web&app_absent=0"
              target="_blank"
              class="nav-link px-2 text-muted"
              ><i
                class="fab fa-whatsapp-square redes-sociales-buttons whatsapp-button"
              ></i
            ></a>
          </li>
        </ul>
        <p class="text-center text-muted d">© 2021 Carolina Doartero</p>
      </footer>
    </div>

    <script src="main.js"></script>
    <!-- FOOTER -->
  </body>
</html>
